 /*

Theme Name:Child Twenty Seventeen

Theme URI:http://www.ninenetics.com

Description:A child theme of Twentyseventeen Theme

Author:Ninenetics Pvt. Ltd

Author URI:http://www.ninenetics.com

Version:1.0.0

Template:twentyseventeen

*/





@charset "utf-8";

/* CSS Document */




body{ font-family: "AkkuratLight" !important;}
.home_productsec .product_home .product__sec .price span::after{ display: none; }
.home_productsec .product_home .product__sec .add_to_cart_button {
    background: #c7c9d8;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 8px 20px;
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 10px;
}
.home_productsec .product_home .product__sec .add_to_cart_button:hover {
    background: #7c878e;
}
.controls li{cursor: pointer;}

.shop_banner{ height: 466px; position: relative;  text-align: center;}
.shop_banner .cover_img{ position: absolute; top:0px; left: 0px; width: 100%; height: 100%; object-fit: cover; }
.shop_banner .text_block{ width: 100%; max-width: 600px; top:60%; left: 50%; position: absolute; 
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 0 30px;}
.shop_banner h1{ font-size: 62px; line-height: 1; letter-spacing: 4px; color: #fff; font-weight: normal; text-transform: uppercase; margin: 0 0 25px 0; }
.shop_banner p{ font-size: 17px; color: #fff; margin: 0 0 0 0; }

.result_woocomerce{ padding: 100px 0 0 0; }
.result_woocomerce .products li{ text-align: center; margin-bottom: 70px !important;}

.result_woocomerce .products li .woocommerce-loop-product__title, .result_woocomerce .products li .woocommerce-mobile-product__title{color: #7c878e;
    font-size: 22px;
    margin: 0 0 10px 0; font-weight: normal;
    letter-spacing: 4px;
    text-transform: uppercase;}
.result_woocomerce .products li .price span::after{ display: none; }
.result_woocomerce .products li .price {
    color: #7c878e;
    font-size: 17px;    margin-bottom: 0px !important;
}
.result_woocomerce .products li .woocommerce-LoopProduct-link{ width: 100%; }
.result_woocomerce .products li .attachment-woocommerce_thumbnail{ margin: 20px auto; }

.result_woocomerce .products li .add_to_cart_button{
    background: #c7c9d8;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 8px 20px;
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 10px;
    -webkit-box-shadow: 0 0 0 #0f0f0f !important;
    box-shadow: 0 0 0 #0f0f0f !important;
    -webkit-transition: all 0.4s ease-in-out !important;
-moz-transition: all 0.4s ease-in-out !important;
-ms-transition: all 0.4s ease-in-out !important;
-o-transition: all 0.4s ease-in-out !important;
transition: all 0.4s ease-in-out !important;
}
.result_woocomerce .products li .add_to_cart_button:hover {
    background: #7c878e;
    -webkit-box-shadow: 0 0 0 #0f0f0f !important;
    box-shadow: 0 0 0 #0f0f0f !important;
}

.result_woocomerce .page-title, .result_woocomerce .woocommerce-result-count, .result_woocomerce .woocommerce-ordering, .result_woocomerce .star-rating, .result_woocomerce .onsale{ display: none !important; }
.post-type-archive-product .page-description{display:none}



.woocommerce-pagination{ text-align: center; }
.woocommerce-pagination li{margin: 10px 5px 0;}
.woocommerce-pagination a{ height: 35px; width:35px !important;color: #000 !important;
    font-size: 12px !important;  text-align: center !important; line-height: 35px !important; border-radius: 100% !important; padding: 0px !important;}
.woocommerce-pagination a:after{ display: none; }
.woocommerce-pagination a:hover{background-color: #fcc5d4 !important; color: #fff !important;}
.woocommerce-pagination span{background-color: #c7c9d8 !important;font-size: 12px !important; color: #fff; height: 35px; width:35px !important;  text-align: center !important; line-height: 35px !important; border-radius: 100% !important; padding: 0px !important;}


.single-product .result_woocomerce{ padding: 180px 0 0 0; }
.single-product .result_woocomerce h1.product_title { font-size: 32px; font-weight: normal; color: #7c878e; margin: 0 0 20px 0; letter-spacing: 3px;
    text-transform: uppercase;}
.single-product .result_woocomerce .price{    color: #7c878e;
    font-size: 17px;    margin-bottom: 15px !important;}
.single-product .result_woocomerce .price span::after{ display: none; }
.single-product .result_woocomerce .quantity{ width: 100%; }
.single-product .result_woocomerce .single_add_to_cart_button{ width: 250px; height:50px; 
background: #c7c9d8;
    color: #fff;
    font-size: 16px; text-align: center;border: none;
    outline: none;    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 8px 20px;
    display: inline-block;
    letter-spacing: 2.5px;
-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;}
.single-product .result_woocomerce .single_add_to_cart_button:hover{background-color: #7c878e !important; color: #fff !important;}

.single-product .result_woocomerce .star-rating{ display: block !important; }

.single-product .result_woocomerce .quantity .input-text.qty{ text-align: center; color: #7c878e; width: 30px;
    font-size: 17px; outline: none; border: 0px; }
.single-product .result_woocomerce .quantity .minus{ width: 30px; background: none; outline: none;  color: #7c878e;
    font-size: 17px; outline: none; border: 0px;}
.single-product .result_woocomerce .quantity .plus{ width: 30px; background: none; outline: none;  color: #7c878e;
    font-size: 17px; outline: none; border: 0px;}

.single-product .result_woocomerce .quantity label{color: #7c878e;
    font-size: 17px;margin-right: 15px;font-weight: normal;}
.single-product .result_woocomerce .woocommerce-product-details__short-description{color: #7c878e; font-size: 17px; margin-bottom: 15px;}

.woocommerce-mini-cart {     list-style: none;
    padding: 0px;
    max-height: calc(100vh - 355px);
    overflow-y: auto;
    width: calc(100% + 20px);
    margin-left: -20px;}
.woocommerce-mini-cart li{ position: relative; margin-bottom: 20px; padding-left: 20px; }
.woocommerce-mini-cart li a.remove{ position: absolute; top:0px; left:0px; line-height: 14px; color: #000;}
.woocommerce-mini-cart li a{ color: #000; }
.woocommerce-mini-cart li .quantity{ width: 100%; display: block;}
.woocommerce-mini-cart li .quantity span:after{ display: none; }
.woocommerce-mini-cart li a .attachment-woocommerce_thumbnail{width: 65px;
    float: none !important;
    height: auto;}

.woocommerce-mini-cart li .quantity .plus{width: 30px; background: none; outline: none;  color: #7c878e;
    font-size: 17px; outline: none; border: 0px;}

.woocommerce-mini-cart__total{ font-size: 14px; color: #000;  }
.woocommerce-mini-cart__total span:after{ display: none; }
.woocommerce-mini-cart__buttons{ display: none; }

.woocommerce-description{ margin: 0 -15px;clear: both; padding: 70px 0 80px 0;}
.woocommerce-description .woocommerce-product-info,.woocommerce-description .woocommerce-key-benefits,.woocommerce-description .woocommerce-ingredients{ width: 33.333%; padding: 0 15px; float: left;}
.woocommerce-description .woocommerce-product-info h3,.woocommerce-description .woocommerce-key-benefits h3,.woocommerce-description .woocommerce-ingredients h3{ margin: 0 0 40px 0; text-align: center; font-size: 22px; color: #7c878e; letter-spacing: 3px; text-transform: uppercase; font-weight: normal; }
.woocommerce-description .woocommerce-product-info h4,.woocommerce-description .woocommerce-key-benefits h4,.woocommerce-description .woocommerce-ingredients h4{ margin: 0 0 7px 0; font-size: 16px; color: #7c878e; letter-spacing: 2px; text-transform: uppercase; font-weight: normal; }
.woocommerce-description .woocommerce-product-info p,.woocommerce-description .woocommerce-key-benefits p,.woocommerce-description .woocommerce-ingredients p{ margin: 0; font-size: 17px; color: #7c878e;}
.single-product .result_woocomerce .woocommerce-tabs.wc-tabs-wrapper{ display: none; }

.woocommerce-description .woocommerce-product-info ul,.woocommerce-description .woocommerce-key-benefits ul{ width: 100%; padding: 0px; margin: 0px; list-style: none; }
.woocommerce-description .woocommerce-product-info li,.woocommerce-description .woocommerce-key-benefits li{ padding-left: 110px; position: relative; margin-bottom: 30px; }
.woocommerce-description .woocommerce-product-info li img,.woocommerce-description .woocommerce-key-benefits li img{ position: absolute; width: 65px; top:0px; left:0px; }
.how-to-apply-video{ padding: 0 0 100px 0; text-align: center; }
.how-to-apply-video h3, .woo-product-reviews-widget h2{ margin: 0 0 40px 0; text-align: center; font-size: 22px; color: #7c878e; letter-spacing: 3px; text-transform: uppercase; font-weight: normal; }
.how-to-apply-video .video-section{ position: relative; width: 100%; max-width: 1130px; display: inline-block;}
.how-to-apply-video .video-section::before{ display: block; content: ""; width: 100%; padding-top: 56.4% }
.how-to-apply-video .video-frame{ width: 100%; height: 100%; position: absolute; left:0px; top:0px; border: 0px; }

.related.products h2{margin: 0 0 55px 0; text-align: center; font-size: 32px; color: #7c878e; letter-spacing: 3px; text-transform: uppercase; font-weight: normal;}



body.page-two-column.woocommerce-cart:not(.archive) #primary .entry-content{ width: 100%; }
.woocommerce-cart .woocommerce form {
    width: 65%;vertical-align: top;
    display: inline-block
}
.woocommerce-cart .woocommerce .cart-collaterals {
    padding: 70px;
    width: 33%; float: right;
    display: inline-block; background-color: rgba(0,0,0, 0.05); min-height: calc(100vh - 200px); vertical-align: top;
}
.woocommerce-cart .woocommerce {
    display: block;
    width: 100%;
    min-height: calc(100vh - 400px);
}
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals h2 {
    text-transform: uppercase;
    font-size: 32px !important; letter-spacing: 3px;
    margin: 0 0 1em 0;
}
.woocommerce .shop_table {
    width: 100%;
}
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table th {
    width: 35%;
    color: #000;
    vertical-align: top;
   text-transform: uppercase;
    font-size:12px;
    padding: 10px 0;
}
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table td {
    width: 70%;
    
    font-size: 15px;
    vertical-align: top;
    padding: 10px 0;
}
table tr {
    border-bottom: 1px solid #f0f0f0;
}
.cart-collaterals tr {
    border-color: rgba(0,0,0, 0.05);}

 .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{ width: 100% !important; }

 .cart-collaterals span::after, .shop_table  span::after{ display: none; }

 .woocommerce-cart .cart-collaterals .cart_totals .wc-proceed-to-checkout a {
font-size: 12px; border: none; padding: 15px 10px;
text-transform: uppercase; letter-spacing: 2px;
    margin-top: 20px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    background-color: #c7c9d8 !important; color: #fff !important;
-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;}
 .woocommerce-cart .cart-collaterals .cart_totals .wc-proceed-to-checkout a:hover{border: none;background-color: #7c878e !important; color: #fff !important;}
  .woocommerce-cart .cart-collaterals .cart_totals .wc-proceed-to-checkout a::after{ width: auto; display: inline-block; margin-left: 5px; }
.terms_page .container{ max-width: 875px; }
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table .cart-subtotal td{ font-size: 14px; font-weight: bold; }
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table .order-total td{ font-size: 16px; }
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table td p{ font-size: 14px; }
.woocommerce-cart .woocommerce .cart-collaterals .woocommerce-shipping-calculator{ width: 100%; }
.woocommerce .shop_table {
    width: 100%;
}
.woocommerce-cart .woocommerce form table thead {
    display: none;
}
.woocommerce-cart .woocommerce form table tbody td.product-thumbnail {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
   /*width: 15%;*/
}
.woocommerce-cart .woocommerce form table tbody td.product-name {
    width: 35%;
    padding: 2.22222rem;
}
.woocommerce-cart .woocommerce form table tbody td a{ color: #000; }
.woocommerce-cart .woocommerce form table tbody td.product-price {
    display: table-cell;
    padding: 2.22222rem 0;
}

.woocommerce-cart .woocommerce form table tbody td.product-thumbnail img {
    width: 100%;
}

.woocommerce-cart .woocommerce form table tbody td.actions .button {
    margin-left:20px;
    background: none;
    color: #000;
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    padding: 10px 20px; float: right !important; max-width: 150px;
    border-color: rgba(0,0,0, 0.1);
}
.woocommerce-cart .woocommerce form table tbody td.actions{ height: 75px; }
.woocommerce-cart .woocommerce form table tbody td.actions .button:hover{ opacity: 0.7 }
.shop_table tr:last-child{ border-bottom: 0px; }

a.remove{ border: 0px !important; border-radius: 0px !important; }
.shop_table .quantity .input-text.qty{ text-align: center; color: #7c878e; width: 30px;
    font-size: 17px; outline: none; border: 0px; }
.shop_table .quantity .minus{ width: 30px; background: none; outline: none;  color: #7c878e;
    font-size: 17px; outline: none; border: 0px;}
.shop_table .quantity .plus{ width: 30px; background: none; outline: none;  color: #7c878e;
    font-size: 17px; outline: none; border: 0px;}

.shop_table .woocommerce-shipping-calculator a{ color:#000; }

.woocommerce-cart h1{ display: none; }
/*.woocommerce-cart .container{ max-width: none; }*/
.woocommerce-checkout .entry-content{ width: 100%; padding-left: 15px; padding-right: 15px; max-width: 1500px; margin: auto; margin-top: 180px; }
.woocommerce-checkout header.entry-header{padding-top: 180px;
    position: relative; text-align: center;    width: 100% !important;
    z-index: 0;}
.woocommerce-checkout h1{ margin: 0 0 60px 0; text-align: center; font-size: 32px; color: #7c878e; letter-spacing: 3px; text-transform: uppercase; font-weight: normal;}
.woocommerce-cart-form .actions .input-text {
    width: 170px!important;
    float: left;
    margin-right: -20px;
    height: 44px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,0,0, 0.1);
    border-right: 0px;
    padding: 0 10px;
}
input[type=number]{
  -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.home_latest .block::after{ background: #7c878e; opacity: 0; position: absolute; top: 0px; left: 0px;  width: 100%; height: 100%; z-index: 0; 
-webkit-transition: opacity 0.4s ease-in-out;
-moz-transition: opacity 0.4s ease-in-out;
-ms-transition: opacity 0.4s ease-in-out;
-o-transition: opacity 0.4s ease-in-out;
transition: opacity 0.4s ease-in-out;}
.home_latest .block:hover::after{ opacity: 0.15 }


.home_latest .block figure::after{ content:""; background: #7c878e; opacity: 0; position: absolute; top: 0px; left: 0px;  width: 100%; height: 100%; z-index: 1; 
-webkit-transition: opacity 0.4s ease-in-out;
-moz-transition: opacity 0.4s ease-in-out;
-ms-transition: opacity 0.4s ease-in-out;
-o-transition: opacity 0.4s ease-in-out;
transition: opacity 0.4s ease-in-out;}
.home_latest .block:hover figure::after{ opacity: 0.15 }

.home_latest .block .date, .home_latest .block .title{ z-index: 1; }

.home_latest .block:hover figure img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


.woocommerce-product-gallery{ text-align: center; }
.woocommerce-product-gallery img {
    display: inline-block; 
}
.woocommerce-product-gallery ol{ padding: 0px; margin-top: 40px; }
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li{ width: calc(100% / 6); padding: 0 5px; }

.woocommerce-product-gallery .woocommerce-product-gallery__image{ background: #fcfcfd;}
.woocommerce-product-gallery .woocommerce-product-gallery__image img{margin: 80px auto;}
.woocommerce-product-gallery__trigger{ display: none; }

.single-product .summary .sku_wrapper{ display: none; }

.woocommerce-checkout .before_order_review{ width: calc(32% - 50px); float: right; }
.woocommerce-checkout #customer_details{ width: 68%; float: left; }
.woocommerce-checkout #customer_details .col-1, .woocommerce-checkout #customer_details .col-2{ width: 100%; }

.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text{ margin-bottom: 20px; border:0px; border-bottom: 1px solid rgba(124, 135, 142, 0.2); height: 40px; color: #7c878e; font-size: 17px; border-radius: 0px; outline: none; }
.select2-container{ margin-bottom: 20px; }
.woocommerce-checkout .woocommerce-checkout h3{margin: 0 0 30px 0; font-size: 22px; color: #7c878e; letter-spacing: 2px; text-transform: uppercase; font-weight: normal;}

.woocommerce-checkout .woocommerce-checkout-payment {
    width: calc(100% - 400px);
    float: left;
}
.wc_payment_method label{ width: 100%; }
.wc_payment_method .payment_box fieldset{ padding: 0px; }
.woocommerce-checkout .woocommerce-checkout-payment ul{ padding: 0px; }
.woocommerce form .form-row label, .woocommerce-page form .form-row label{ display: none; }

.woocommerce-info{ background: rgba(0, 0, 0, 0); color: #7c878e; font-size: 17px; padding: 0px;}
.woocommerce-info a, .woocommerce-info a:hover{ color: #fcc5d4 !important; text-decoration: underline; }

.woocommerce-checkout form.checkout.woocommerce-checkout{ margin-top: 50px; }

.woocommerce-checkout .select2-container .select2-selection--single .select2-selection__rendered{border:0px; border-bottom: 1px solid rgba(124, 135, 142, 0.2); line-height: 40px; height: 40px; color: #7c878e; font-size: 17px; border-radius: 0px; outline: none; padding-left: 0px !important;}
.woocommerce-checkout .select2-container--default .select2-selection--single{border:0px; }

.before_order_review{ padding: 22px 22px 0px 22px; border: 1px solid rgba(124, 135, 142, 0.2); text-transform: uppercase; font-size: 12px; letter-spacing: 2px;  color: #7c878e; }

.woocommerce-checkout-review-order-table td {
    padding: 1.5em 0em;
}
.woocommerce-checkout-review-order-table thead{ display: none; }
.woocommerce-checkout-review-order-table td:last-child{ text-align: right; }
.woocommerce-checkout-review-order-table tbody tr:last-child {
    border-bottom: 1px solid #f0f0f0;
}
.woocommerce-checkout-review-order-table strong{ font-weight: normal; }
.woocommerce-checkout .before_order_review h3{ margin: 0 0 15px 0;  }
.woocommerce-checkout-review-order-table .order-total{ font-size: 17px; text-transform: capitalize; }

.checkbox input[type=checkbox]{ margin-left: -20px !important; }
.woocommerce form .form-row label.checkbox{ padding-left: 20px; }

.woocommerce-checkout .payment_box .form-row .input-text{border: 1px solid rgba(124, 135, 142, 0.2);padding: 0 10px;}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order, .shipping-calculator-form .button{ float: left;
    background: #c7c9d8;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 8px 20px;
    display: inline-block;
    letter-spacing: 2px;
    font-family: "termina",sans-serif;
font-weight: 400;
    margin-top: 10px; border: none; border-radius: 0px; outline: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.woocommerce #payment #place_order:hover, .woocommerce-page #payment #place_order:hover, .woocommerce-form .button:hover, .checkout_coupon .button:hover, .shipping-calculator-form .button:hover { background: #7c878e;}

.woocommerce-form .button, .checkout_coupon .button{background: #c7c9d8;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 8px 20px;
    display: inline-block;
    letter-spacing: 2px;border: none; border-radius: 0px; outline: none;
-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;}
.woocommerce-checkout .woocommerce-form-login a{color: #fcc5d4 !important;}
.woocommerce-checkout .woocommerce-form-login a:hover{color: #fcc5d4 !important; text-decoration: underline;}
.woocommerce-checkout .payment_box a{color: #fcc5d4 !important;}
.woocommerce-checkout .payment_box a:hover{color: #fcc5d4 !important; text-decoration: underline;}

.woocommerce form .form-row .input-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(124, 135, 142, 0.3);
}
.woocommerce form .form-row .input-text::-moz-placeholder { /* Firefox 19+ */
  color: rgba(124, 135, 142, 0.3);
}
.woocommerce form .form-row .input-text:-ms-input-placeholder { /* IE 10+ */
  color: rgba(124, 135, 142, 0.3);
}
.woocommerce form .form-row .input-text:-moz-placeholder { /* Firefox 18- */
  color: rgba(124, 135, 142, 0.3);
}


.single-product .result_woocomerce .summary .yotpo.bottomLine{ display: none; }
.yotpo.yotpo-main-widget{ text-align: center;  margin-bottom: 110px !important;}
.yotpo-display-wrapper{width: 100%; text-align: left;
    max-width: 1130px;
    display: inline-block;} 

.yotpo-label.yotpo-small-box { display: none; }
.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes{ text-align: center; }
.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-default-button.write-review-button{position: static;
    margin: auto;
    float: none !important;}
.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-1{ width: 100%; max-width: none !important; text-align: center; margin-bottom: 20px; }
.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-default-button.write-review-button .yotpo-icon-write{ display: none; }
.yotpo.yotpo-main-widget .yotpo-bottomline .yotpo-stars{ padding-right: 0px !important; vertical-align: middle !important; }
.yotpo-stars .yotpo-icon{ font-size: 17px !important; }
.yotpo-stars .yotpo-icon.yotpo-icon-empty-star{color: #dee1e3 !important; }
.yotpo-stars .yotpo-icon.yotpo-icon-empty-star:before{content: "\e60e";}
.yotpo-stars .yotpo-icon.yotpo-icon-star{color: #7c878e !important; }
.yotpo-stars .yotpo-icon.yotpo-icon-star:before{content: "\e60e";}
.yotpo-stars .yotpo-icon.yotpo-icon-half-star{color: #7c878e !important; }
.yotpo .yotpo-default-button{ border: 1px solid #7c878e !important; background: rgba(0, 0, 0, 0) !important; color: #7c878e !important; }
.yotpo.yotpo-main-widget .yotpo-icon-btn .yotpo-icon-button-text{color: #7c878e !important;}
.yotpo .yotpo-default-button:hover{ background:#7c878e !important  }
.yotpo.yotpo-main-widget .yotpo-icon-btn:hover .yotpo-icon-button-text{color: #fff !important;}
.yotpo.yotpo-main-widget .yotpo-bottomline .based-on{    padding-top: 1px !important;
    padding-left: 7px !important;}

.woocommerce-message{background: #cccadf;
    background: -moz-linear-gradient(left, #cccadf 0%, #fcc5d4 100%);
    background: -webkit-linear-gradient(left, #cccadf 0%, #fcc5d4 100%);
    background: -webkit-gradient(linear, left top, right top, from(#cccadf), to(#fcc5d4));
    background: -o-linear-gradient(left, #cccadf 0%, #fcc5d4 100%);
    background: linear-gradient(to right, #cccadf 0%, #fcc5d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccadf', endColorstr='#fcc5d4',GradientType=1 );
    padding: 1em;
}

.single-product .yotpo .primary-color-btn.yotpo-disabled:hover, .single-product .yotpo input[type="button"].primary-color-btn.yotpo-disabled:hover {
    background: #7c878e !important;
    color: #fff !important;
    border: 1px solid #7c878e !important;
}
.single-product .yotpo .primary-color-btn:hover, .single-product .yotpo input[type="button"].primary-color-btn:hover{background: #7c878e !important;
    color: #fff !important;
    border: 1px solid #7c878e !important;}

.stars-wrapper .yotpo-icon{ font-size: 17px !important; }
.stars-wrapper .yotpo-icon.yotpo-icon-empty-star{color: #dee1e3 !important; }
.stars-wrapper .yotpo-icon.yotpo-icon-empty-star:before{content: "\e60e";}
.stars-wrapper .yotpo-icon.yotpo-icon-star{color: #7c878e !important; }
.stars-wrapper .yotpo-icon.yotpo-icon-star:before{content: "\e60e";}


.yotpo-review-stars .yotpo-icon{ font-size: 17px !important; }
.yotpo-review-stars .yotpo-icon.yotpo-icon-empty-star{color: #dee1e3 !important; }
.yotpo-review-stars .yotpo-icon.yotpo-icon-empty-star:before{content: "\e60e";}
.yotpo-review-stars .yotpo-icon.yotpo-icon-star{color: #7c878e !important; }
.yotpo-review-stars .yotpo-icon.yotpo-icon-star:before{content: "\e60e";}

.yotpo span:after{ display: none; }
.cart-empty{ text-align: center;
text-transform: uppercase; 
    font-size: 24px !important; letter-spacing: 3px;
    margin: 100px 0 1em 0; }
.return-to-shop{ text-align: center; }
.return-to-shop .button {background: #c7c9d8;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 8px 20px;
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 10px; border: none; border-radius: 0px; outline: none;}
.return-to-shop .button:hover{ background: #7c878e;}
ul.products li.product .added_to_cart{ display: none; }
.instagramfeads{ margin-bottom: 100px; position: relative; width: 100%; overflow: hidden; }
.instagramfeads .item::before{ content: "";  width: 100%; padding-top: 100%; display: block; position: relative; }
.instagramfeads .item img{ position: absolute; top:0px; left:0px; width: 100%; height: 100% !important; object-fit: cover; }
.instagramfeads .owl-dots{ display: none; }
.instagramfeads .owl-nav{position: absolute;top: 25%;right: 40px;width: 100px;height: 60px;
font-family: "termina",sans-serif;
    font-weight: 500;}
.instagramfeads .owl-nav .owl-prev{position: absolute;top: 30px; right:0px;}
.instagramfeads .owl-nav .owl-next{position: absolute;top: 0px; right:0px;}
.instagramfeads .owl-nav .owl-prev, .instagramfeads .owl-nav .owl-next{ display: block; outline: none; margin-bottom: 10px;}
.instagramfeads .owl-nav .owl-prev span, .instagramfeads .owl-nav .owl-next span{ font-size: 0px; }
.instagramfeads .owl-nav .owl-prev::before{ content: "Previous"; font-size: 16px; color:#7c878e;  text-transform: uppercase; letter-spacing: 2px;}
.instagramfeads .owl-nav .owl-next::before{ content: "Next";  font-size: 16px; color:#7c878e;  text-transform: uppercase;  letter-spacing: 2px;}
/*.instagramfeads .owl-carousel{ width: 90%; max-width: 1470px; margin: auto; }*/

.instagramfeads .owl-carousel{ width: 90%; max-width: none; margin: auto;  float: right; }

.instagramfeads .intgramheading{ position: absolute; top:50%; left: 50% ; width: 100%; /*max-width: 1740px;*/ z-index: 2;
-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.instagramfeads .intgramheading h2{color: #7c878e; font-size: 22px; text-transform: uppercase; letter-spacing: 3px; margin: 0 0 20px 0;}
.instagramfeads .intgramheading p{ color: #7c878e; font-size: 17px; margin-bottom: 3px; }
.instagramfeads .intgramheading p a{color: #7c878e;}

.instagramfeads .intgramheading .intgram-heading-inner{position: absolute; left:5%;
    width: 200px;
-webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    -o-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);}


.results_loadmore, .blog_loadmore, .community_loadmore{padding: 5px 10px;
    border: 1px solid #7c878e;
    display: block; color:#7c878e; background: rgba(0, 0, 0, 0);
    clear: both; cursor: pointer; font-size: 11px; text-transform: uppercase; letter-spacing: 1.5px;
    width: 100%;
    max-width: 200px;margin: 30px auto;
    text-align: center;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;}

    .results_loadmore:hover, .blog_loadmore:hover, .community_loadmore:hover{ background: #7c878e; color:#fff; }

    .owl-carousel .owl-item img{ height: auto; }

    .submenu .owl-prev, .submenu .owl-next{ height: 26px; width: 26px; margin:2px; color:#fff !important; background: #c7c9d8 !important; outline: none; font-size: 16px !important;}
    .submenu .owl-prev:hover, .submenu .owl-next:hover{background: #7c878e !important;}
    .submenu figure{ margin-bottom: 10px; }
.home_latest .block.home_blog .title a{
    color: #7c878e;
}
.home_latest .block .title a{ color:#fff; }
header{ z-index: 10; }
.yotpo .yotpo-regular-box{ margin: 0px !important; }
.yotpo .yotpo-nav ul .yotpo-nav-tab.yotpo-active .yotpo-nav-wrapper{ border-bottom: 0px !important; }
.yotpo .yotpo-review .yotpo-header .yotpo-icon-profile{ display: none !important; }

.yotpo .yotpo-review .yotpo-main, .yotpo .yotpo-comment .yotpo-main, .yotpo .yotpo-question .yotpo-main, .yotpo .yotpo-onsite-upload .yotpo-main{ margin-left: 0px !important; }
.yotpo .yotpo-review .yotpo-footer, .yotpo .yotpo-comment .yotpo-footer, .yotpo .yotpo-question .yotpo-footer, .yotpo .yotpo-onsite-upload .yotpo-footer{ margin-left: 0px !important; }
.yotpo .socialize .yotpo-default-button{ background: #7c878e !important; }
.yotpo .yotpo-small-box {
    padding: 25px 0 0 0 !important;
}
.yotpo.yotpo-main-widget .yotpo-thank-you .yotpo-thankyou-footer .social-link, .yotpo .yotpo-modal-dialog .yotpo-thank-you .yotpo-thankyou-footer .social-link {
    display: block;
}
.yotpo.yotpo-main-widget .yotpo-icon-btn .yotpo-icon, .yotpo .yotpo-modal-dialog .yotpo-icon-btn .yotpo-icon {
    color: #a2a2a2 !important;
}

.yotpo.yotpo-main-widget .yotpo-icon-btn:hover .yotpo-icon, .yotpo .yotpo-modal-dialog .yotpo-icon-btn:hover .yotpo-icon {
    color: #fff !important;
}
.single-product .socialize-wrapper .socialize .yotpo-icon-btn .yotpo-icon {
    color: #fff !important;
}
.yotpo .yotpo-review .yotpo-main .content-title{ font-weight: normal; letter-spacing: 2px; text-transform: uppercase; }
.yotpo .yotpo-review .yotpo-footer{ display: none; }
.blockUI.blockOverlay{ position: fixed !important; }
.cart_popup .bottom_sec table td a{ color:#000; }
.home_latest .block figure a{position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;}
.emailoctopus-email-address, .emailoctopus-first-name {
    width: 100%;
    height: 30px;
    border: 1px solid #c7c9d8;
    color: #fff;
    font-size: 12px;
    font-family: "AkkuratLight";
    margin-bottom: 15px; border-radius: 0px;
    padding: 0 10px;
    background: none; max-width: none !important;
    outline: none;
}
.emailoctopus-email-address::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c7c9d8;
}
.emailoctopus-email-address::-moz-placeholder { /* Firefox 19+ */
  color: #c7c9d8;
}
.emailoctopus-email-address:-ms-input-placeholder { /* IE 10+ */
  color: #c7c9d8;
}
.emailoctopus-email-address:-moz-placeholder { /* Firefox 18- */
  color: #c7c9d8;
}

.emailoctopus-first-name::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c7c9d8;
}
.emailoctopus-first-name::-moz-placeholder { /* Firefox 19+ */
  color: #c7c9d8;
}
.emailoctopus-first-name:-ms-input-placeholder { /* IE 10+ */
  color: #c7c9d8;
}
.emailoctopus-first-name:-moz-placeholder { /* Firefox 18- */
  color: #c7c9d8;
}
.emailoctopus-form-row-subscribe {
    margin-top: 0px !important;
}
.emailoctopus-form-row-subscribe button{padding: 0px !important;
    background: none!important;
    color: #c7c9d8!important;
    outline: none;
    font-size: 12px!important;
    font-family: "AkkuratLight"; outline: none !important;
    border: none!important;}
.emailoctopus-form-row-subscribe button:hover{color: #fcc5d4 !important;}
footer .emailoctopus-form-wrapper h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    margin: 0 0 15px 0;
    letter-spacing: 2px;
}
.emailoctopus-form-row{ margin-bottom: 0px !important; }
.emailoctopus-form-row label{ display: none !important; }


.sb-infinite-scroll-load-more a{padding: 5px 20px;
    border: 1px solid #7c878e;
    display: inline-block; color:#7c878e; background: rgba(0, 0, 0, 0);
    clear: both; cursor: pointer; font-size: 11px; text-transform: uppercase; letter-spacing: 2px;
    text-align: center;}

.sb-infinite-scroll-load-more a:hover{ background: #7c878e; color:#fff; }
.sb-infinite-scroll-load-more{ margin-bottom: 110px; }
.shop-image-bundel{ position: relative; padding: 30px 0; }
.shop-image-bundel .attachment-woocommerce_product_badge{ position: absolute; top:10px; border-radius: 100%; left:50%; margin-left: 125px; 
-webkit-box-shadow: 0px 4px 24px -1px rgba(0,0,0,0.3);
box-shadow: 0px 4px 24px -1px rgba(0,0,0,0.3);}

body{ right: 0px;  position: relative;
-webkit-transition: right 0.4s ease-in-out;
-moz-transition: right 0.4s ease-in-out;
-ms-transition: right 0.4s ease-in-out;
-o-transition: right 0.4s ease-in-out;
transition: right 0.4s ease-in-out;}
.opencart{ right: 400px;
/*-webkit-transform: translate(-400px,0);
    -moz-transform: translate(-400px,0);
    -o-transform: translate(-400px,0);
    -ms-transform: translate(-400px,0);
    transform: translate(-400px,0);*/}
.home_productsec .product_home .product__sec .added_to_cart{ display: none; }
.home_banner .carousel-indicators{ z-index: 1 }
.home_banner .carousel-indicators li{margin-left: 3px !important; margin-right: 3px!important;}
header.sticky1 .navbar, header.sticky2 .navbar {
    background: rgba(255, 255, 255, 0.90);
}
header .navbar{ border: none; border-radius: 0px; }
.foot_banner{ background: #000; }
.foot_banner img{ opacity: 1;
-webkit-transition: opacity 0.4s ease-in-out;
-moz-transition: opacity 0.4s ease-in-out;
-ms-transition: opacity 0.4s ease-in-out;
-o-transition: opacity 0.4s ease-in-out;
transition: opacity 0.4s ease-in-out;}
.foot_banner:hover img{ opacity: 0.9 }

.woocommerce-cart #wc-stripe-payment-request-wrapper, .woocommerce-cart #wc-stripe-payment-request-button-separator{  display: none !important; }
.single-product #wc-stripe-payment-request-wrapper, .single-product #wc-stripe-payment-request-button-separator{  display: none !important; }
.single-product .product_meta{ display: none; }
.home_latest .block.home_blog figure a:after{ display: none; }
.home_latest .block figure a:after {
    position: absolute;
    top: 20px; width: 9px; height: 9px; content:"";
    right: 20px; background: url(img/arrowicon_white.png) no-repeat center;
}

.result_sec .block h4 a:after {
    position: absolute;
    width: 9px; height: 9px; content:"";
    background: url(img/arrowicon_gray.png) no-repeat center;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.result_sec .home_latest .block figure{ position: absolute; }
.result_sec .block figure{ position: relative; }
.result_sec .block figure::before{ display: block; content: "";  padding-top: 100%;  width: 100%; }
.result_sec .block figure img{ width: 100%; height: 100%; position: absolute; left:0px; top:0px; object-fit: cover; }
.about_imgsec .small_img{ width: 30% }
.about_imgsec .small_img img{ width: 100% }


.faq_sec .faqul li h4:after{ content: "\f107";
-moz-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;}
.faq_sec .faqul li h4.open:after{ content: "\f107";
-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);}

.woocommerce-cart .woocommerce-cart-form .product-thumbnail img{ max-width: 120px !important; }
.woocommerce-cart .woocommerce-cart-form .product-thumbnail{ padding: 10px 0 !important; }
.blog_post .post_in {
    width: 100%;
    max-width: 845px;
}

.woocommerce-cart .product-quantity .screen-reader-text{  display: none; }
.woocommerce-cart .wac-qty-button {
    display: inline-block !important;
    border-radius: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    background-color: rgba(0, 0, 0, 0) !important;vertical-align: middle; color: #7c878e;font-size: 17px;
}
.shop_table .quantity .input-text.qty{ vertical-align: middle; color: #7c878e;font-size: 17px;}
.shop_table .quantity .wac-qty-button a{ color: #7c878e !important;font-size: 17px !important;}

.min-cart-left{ width: 120px; float: left; background: #fafafa; text-align: center; padding: 10px; margin-right: 20px; }
.min-cart-right{ width: calc(100% - 140px); float: left; }
.min-cart-right .cart-p-title{ font-size: 11px; text-transform: uppercase; letter-spacing: 1.5px; margin-bottom: 10px; color:#000;}
.min-cart-right .cart-p-title a{ color:#000; }
.min-cart-right .quantity{ float: right; color:#000; width: auto !important;
    font-size: 12px; outline:}
.min-cart-right .mini-cart-qty{ float: left; color:#000; width: auto !important; }
.min-cart-right .mini-cart-qty .input-text.qty{ text-align: center; color: #7c878e; width: 30px;
    font-size: 12px; outline: none; border: 0px; }
.min-cart-right .mini-cart-qty .minus{ width: 15px; padding: 0px; background: none; outline: none;  color: #000;
    font-size: 12px; outline: none; border: 0px;}
.min-cart-right .mini-cart-qty .plus{ width: 15px; padding: 0px; background: none; outline: none;  color: #000;
    font-size: 12px; outline: none; border: 0px;}
.woocommerce-checkout .terms_page .container{ max-width: 1500px; }
.woocommerce-cart .terms_page .container{ max-width: none; width: 100% }

.woocommerce-checkout .terms_page p{ margin-bottom:10px; }

.blog_post .banner_img{ width: 100%; }
.blog_post .banner_img img{ width: 100%; height: auto; }
.blog_post .post_in h2,.blog_post .post_in h3 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    color: #7c878e;
    margin: 0 0 22px 0;
    line-height: 1.4;
}
.product_home_images{ position: relative;}
.product_home_images .attachment-woocommerce_product_badge{ width: 70px; height: 70px; position: absolute; top:-30px; right: -30px; z-index: 1; border-radius: 100%;
-webkit-box-shadow: 0px 4px 24px -1px rgba(0,0,0,0.3);
box-shadow: 0px 4px 24px -1px rgba(0,0,0,0.3);}

.home_banner .item .text_block h2, .foot_banner h2, .home_sec1 h2, .home_productsec .product_home .product__sec h3, .partner_sec h2, .home_latest h2, .home_banner .item .text_block .banner_btn, .home_productsec .product_home .product__sec .add_to_cart_button, .home_latest .block .title, .faq_sec h2, .faq_sec .side_sec h3, .blurb_sec h3,
.page_head h1, .blog_post .post_in h1, .blog_post .post_in h2, .blog_post .post_in h3, .blog_post .date1, .stockists_page h1, .become_strockist .block h3, .shop_banner h1, .result_woocomerce .products li .woocommerce-loop-product__title, .result_woocomerce .products li .woocommerce-mobile-product__title, .single-product .result_woocomerce h1.product_title, .woocommerce-description .woocommerce-product-info h3, 
.woocommerce-description .woocommerce-key-benefits h3, .woocommerce-description .woocommerce-ingredients h3, .how-to-apply-video h3, .related.products h2, .woo-product-reviews-widget h2, .woocommerce-checkout h1, .woocommerce-checkout .woocommerce-checkout h3, .woocommerce-checkout .woocommerce-checkout h3, .woocommerce-cart .woocommerce .cart-collaterals .cart_totals h2, .instagramfeads .intgramheading h2, 
.about_banner .text_in, .mobile-addto-cart a, .single-product .result_woocomerce .single_add_to_cart_button{font-family: "termina",sans-serif;  font-weight: 500;}
footer .emailoctopus-form-wrapper h2, footer h3, .stockists_page h2, .result_woocomerce .products li .add_to_cart_button, .woocommerce-description .woocommerce-product-info h4, .woocommerce-description .woocommerce-key-benefits h4, .woocommerce-description .woocommerce-ingredients h4, .single-product .before-title-text, .woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order, .before_order_review, .woocommerce-cart .woocommerce .cart-collaterals .cart_totals table th, .woocommerce-cart .cart-collaterals .cart_totals .wc-proceed-to-checkout a, header .navbar .main_menu li a, header .navbar .header_right .cart_icon .cart_no, .cart_popup h3, .min-cart-right .cart-p-title, .cart_popup .bottom_sec table .cart_checkout_btn, .woocommerce-mini-cart__empty-message, .woocommerce .cart-empty, 
.return-to-shop .button, .read_full_art, .post_in h4, .results_loadmore, .blog_loadmore, .community_loadmore, .sb-infinite-scroll-load-more a{font-family: "termina",sans-serif;  font-weight: 400;} 
.blurb_sec h3{ letter-spacing: 3px; }
.show_on_mob{display: none;}
.product_home_images::before{ content: ""; display: block; padding-top: 100%; width: 100%; }
.product_home_images{ width: 100%; max-width: 320px; }
.product_home_images .attachment-woocommerce_hover-home{ position: absolute; display: block;  top:50%; left:50%; opacity: 0;
-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
-webkit-transition: opacity 0.4s ease-in-out;
-moz-transition: opacity 0.4s ease-in-out;
-ms-transition: opacity 0.4s ease-in-out;
-o-transition: opacity 0.4s ease-in-out;
transition: opacity 0.4s ease-in-out;}
.product_home_images .home-pro-image{ position: absolute; display: block;  top:50%; left:50%; opacity: 1;
-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
-webkit-transition: opacity 0.4s ease-in-out;
-moz-transition: opacity 0.4s ease-in-out;
-ms-transition: opacity 0.4s ease-in-out;
-o-transition: opacity 0.4s ease-in-out;
transition: opacity 0.4s ease-in-out;}
.product_home_images.hoveractive:hover .attachment-woocommerce_hover-home{ opacity: 1 }
.product_home_images.hoveractive:hover .home-pro-image{ opacity: 0 }

.woocommerce-mini-cart__empty-message{margin: 0 0 30px 0;
color: #000;
font-size: 11px;
letter-spacing: 2px;
text-transform: uppercase;}

.shop-image-bundel::before{ content: ""; display: block; padding-top: 100%; width: 100%; }
.shop-image-bundel{ width: 100%; max-width: 250px; padding: 0px; display: inline-block; margin: 30px 0 20px;}
.shop-image-bundel .attachment-woocommerce_hover-image{ position: absolute; display: block;  top:50%; left:50%; opacity: 0; margin: 0px !important;
-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
-webkit-transition: opacity 0.4s ease-in-out;
-moz-transition: opacity 0.4s ease-in-out;
-ms-transition: opacity 0.4s ease-in-out;
-o-transition: opacity 0.4s ease-in-out;
transition: opacity 0.4s ease-in-out;}
.shop-image-bundel .attachment-woocommerce_thumbnail{ position: absolute; display: block;  top:50%; left:50%; opacity: 1; margin: 0px !important;
-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
-webkit-transition: opacity 0.4s ease-in-out;
-moz-transition: opacity 0.4s ease-in-out;
-ms-transition: opacity 0.4s ease-in-out;
-o-transition: opacity 0.4s ease-in-out;
transition: opacity 0.4s ease-in-out;}
.shop-image-bundel.shop-hover-active:hover .attachment-woocommerce_hover-image{ opacity: 1 }
.shop-image-bundel.shop-hover-active:hover .attachment-woocommerce_thumbnail{ opacity: 0 }
.topbar {min-height: 34px;padding: 8px 0;height: auto;}
.mob_menu_icon{ width: 20px; float:right; height: 30px; position: relative; display: none; margin-left: 10px; }
.mob_menu_icon::before{ position: absolute; top:35%; left:50%; background:#fff; content: ""; width: 20px; height: 2px;
    -webkit-transform: rotate(0deg) translate(-50%,-50%);
    -moz-transform: rotate(0deg) translate(-50%,-50%);
    -o-transform: rotate(0deg) translate(-50%,-50%);
    -ms-transform: rotate(0deg) translate(-50%,-50%);
    transform: rotate(0deg) translate(-50%,-50%);
    transform-origin: 0 0;
    -webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}
.mob_menu_icon::after{ position: absolute; top:65%; left:50%; background:#fff; content: ""; width: 20px; height: 2px;
    -webkit-transform: rotate(0deg) translate(-50%,-50%);
    -moz-transform: rotate(0deg) translate(-50%,-50%);
    -o-transform: rotate(0deg) translate(-50%,-50%);
    -ms-transform: rotate(0deg) translate(-50%,-50%);
    transform: rotate(0deg) translate(-50%,-50%);
    transform-origin: 0 0;
    -webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}
.openmenu .mob_menu_icon::before{ top:50%;
    -webkit-transform: rotate(45deg) translate(-50%,-50%);
    -moz-transform: rotate(45deg) translate(-50%,-50%);
    -o-transform: rotate(45deg) translate(-50%,-50%);
    -ms-transform: rotate(45deg) translate(-50%,-50%);
    transform: rotate(45deg) translate(-50%,-50%);
}
.openmenu .mob_menu_icon::after{ top:50%;
    -webkit-transform: rotate(-45deg) translate(-50%,-50%);
    -moz-transform: rotate(-45deg) translate(-50%,-50%);
    -o-transform: rotate(-45deg) translate(-50%,-50%);
    -ms-transform: rotate(-45deg) translate(-50%,-50%);
    transform: rotate(-45deg) translate(-50%,-50%);
}
.openmenu .mob_menu_icon::before, .openmenu .mob_menu_icon::after, .sticky .mob_menu_icon::before, .sticky .mob_menu_icon::after, .sticky1 .mob_menu_icon::before, .sticky1 .mob_menu_icon::after, .sticky2 .mob_menu_icon::before, .sticky2 .mob_menu_icon::after{ background:#000; }

.openmenu{ overflow: hidden; }

.mob_menu{ padding: 90px 15px 0px 15px; display: none; width: 100%; background: #fff; z-index: -1; height: calc(100vh - 34px); position: absolute; top:0px; left: 0px; }
.mob_menu ul{ padding: 0px; margin-bottom: 30px; list-style: none; text-align: left; }
.mob_menu ul li{ margin-bottom: 10px; }
.mob_menu ul:last-child, .mob_menu ul li:last-child{ margin-bottom: 0px; }
.mob_menu ul.ul1 li a{ color: #000; font-family: "termina",sans-serif;  font-weight: 500; letter-spacing: 3px; text-transform: uppercase; font-size: 19px;}
.mob_menu ul.ul2 li a{ color: #000;padding-left: 30px;background: url(img/cart_icon1.png) no-repeat left / 12px auto; font-family: "termina",sans-serif;  font-weight: 400; letter-spacing: 1.5px; text-transform: uppercase; font-size: 11px;}
.mob_menu ul.ul3 li a{ color: #000; font-size: 15px;}
.mob_menu ul.ul4 li{ width: auto; margin-right: 15px; margin-bottom: 0px; float: left; }
.mob_menu ul.ul4 li a{ color: #000; font-size: 19px;}

.openmenu header .navbar{background:rgba(255, 255, 255, 0.9)}
.openmenu header .navbar .header_right .media_icons{border-right:1px solid #000}
.openmenu header .navbar .header_right .media_icons a{color:#000}
.openmenu header .navbar .header_right .cart_icon{background:url(img/cart_icon1.png) no-repeat left}
.openmenu header .navbar .header_right .cart_icon .cart_no{color:#000}
.openmenu header .navbar .brand_logo img{width:100%}
.openmenu header .navbar .brand_logo img.img1{display:none}
.openmenu header .navbar .brand_logo img.img2{display:block}
.openmenu header .navbar .main_menu li a{color:#000}
header .navbar .header_right .cart_icon .cart_no{ top:8px; }
header .navbar .header_right .media_icons{ padding-top: 0px; }
.about_banner{ height: 80vh; position: relative; min-height: 400px; }
.about_banner .cover_pic{ position: absolute; width: 100%; height: 100%; left: 0px; top:0px; object-fit: cover; object-position: right; }
.about_banner .text_in{ padding: 0 30px; width: 100%; }
.home_sec1 h2{ letter-spacing: 4px; }
.become_strockist .block{ max-width: 40%; }
.woocommerce ul.products{ padding: 0px; }
.shop-image-bundel .attachment-woocommerce_product_badge {position: absolute;width: 70px;
height: 70px;
top: -30px;border-radius: 100%;right: -30px;margin-left: 0;
-webkit-box-shadow: 0px 4px 24px -1px rgba(0,0,0,0.3);
box-shadow: 0px 4px 24px -1px rgba(0,0,0,0.3);
z-index: 2;
left: auto;}
.single-product .before-title-text{color: #7c878e; font-size: 11px; text-transform: uppercase; margin-bottom: 15px; letter-spacing: 1.5px; }
.woocommerce-mini-cart li .quantity .plus{ display: none; } 
.woocommerce-checkout .before_order_review th{ font-weight: normal; }
.woocommerce-checkout .before_order_review{ font-size: 11px; }
.woocommerce-checkout-review-order-table .order-total{font-family: "AkkuratLight" !important;}
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
    clear: none !important;
}

    .woocommerce-checkout .before_order_review{ width: 350px; }
    .woocommerce-checkout #customer_details{ width: calc(100% - 400px); }

.mob_menu li .submenu{ display: none; }
.woocommerce-cart .woocommerce form table tbody td.actions .coupon .button{  float:left !important; }
.home_productsec .product_home .product__sec .add_to_cart_button{ padding: 10px 25px }
.read_full_art{ border-radius: 0px; }
.post_in h4 {
   font-size: 11px;
   text-transform: uppercase;
   line-height: 1.5;
   letter-spacing: 2px;
   color: #7c878e;
}
header .navbar .header_right .cart_icon .cart_no{left: 22px;}

.mobile-addto-cart{position: fixed; display: none;
bottom: 0px; z-index: 3;
width: 100%;
left: 0px;}
.mobile-addto-cart a{
width: 100%;
background: #c7c9d8;
color: #fff;
font-size: 16px;
text-align: center;
border: none;
outline: none;
text-transform: uppercase;
padding: 15px 20px;
display: inline-block;
letter-spacing: 2.5px;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out; }
.home .home_latest .block figure a::after { display: none; }
.mobile-addto-cart a:hover{background-color: #7c878e !important;color: #fff !important;}
.woocommerce-checkout .woocommerce-account-fields{ display: none; }
header .mobile_logo{ display: none; }
header .navbar .header_right .cart_icon{background: url(img/noun_958239_cc1.svg) no-repeat left / 15px 20px;}

header.sticky .navbar .header_right .cart_icon{background: url(img/noun_958239_cc.svg) no-repeat left / 15px 20px;}
header.sticky1 .navbar .header_right .cart_icon{background: url(img/noun_958239_cc.svg) no-repeat left / 15px 20px;}
header.sticky2 .navbar .header_right .cart_icon{background: url(img/noun_958239_cc.svg) no-repeat left / 15px 20px;}
header.opencart .navbar .header_right .cart_icon{background: url(img/noun_958239_cc.svg) no-repeat left / 15px 20px;}
header.openmenu .navbar .header_right .cart_icon{background: url(img/noun_958239_cc.svg) no-repeat left / 15px 20px;}
.mobile-instagram-feed{ display: none; }
.shop_banner .cover_mobile {
    position: absolute; display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.single-product .loopbackgroundimg, .single-product .product .mobile-title{ display: none; }
.product-mobile-arrow{ display: none; }
.filter-button-group{ list-style: none; text-align: center !important; padding: 0px; margin: 0 0 50px 0 !important; font-family: "termina",sans-serif;  font-weight: 500; font-size: 15px;}
.filter-button-group li{ width: 100%; }
.filter-button-group li a{ display: inline-block;font-family: "termina",sans-serif;  font-weight: 500; letter-spacing: 2px; }
.filter-button-group li ul{list-style: none; text-align: center; padding: 0px; margin: 10px 0 0 0;}
.filter-button-group button.active, .filter-button-group a.active, .category-buttons a.active {
    opacity: 1;
    border-bottom-color:rgba(0, 0, 0, 0) !important;
}
.filter-button-group li .toggle-filter{ font-size: 20px; line-height: 1; cursor: pointer; margin-left: 15px;}
.error-404 .search-form{ display: none; }
.error-404{ width: 100%; height: 85vh; min-height: 500px; position: relative; }
.error-404 .page-header{ width: 90%; margin:0px; padding: 0px; text-align: center; border-bottom: none; position: absolute; top:55%; left:50%; z-index: 0;
-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.error-404 .page-header h1{ padding: 0px; margin:0px;font-family: "termina",sans-serif;
font-weight: 400;line-height: 1.5;
font-size: 24px;
text-transform: uppercase;
letter-spacing: 2px;color: #7c878e; }
.yotpo-pager .yotpo-page-element{ display: inline-block; vertical-align: middle; color: #7c878e; }
.yotpo-pager .yotpo-page-element:hover{ color:#000 !important; }
.yotpo-pager .yotpo-page-element.yotpo-active{ color:#000 !important; }
.woocommerce-page div.product div.summary{ width: 40%; margin-right: 5%; }
.woocommerce-product-gallery .woocommerce-product-gallery__image{ position: relative; }
.woocommerce-product-gallery .woocommerce-product-gallery__image::before{ content: ""; display: block; width: 100%; padding-top: 62%; }
.woocommerce-product-gallery .woocommerce-product-gallery__image img{
	 position: absolute; top:50%; left:50%; margin:0px; width: auto; height: auto; max-height: 100%; max-width: 100%;
-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.woocommerce-product-gallery .woocommerce-product-gallery__image:first-child img{ max-height: 70%; }

.woocommerce-checkout .woocommerce-order-details{ width: 350px; 
padding: 22px 22px 10px 22px;
    border: 1px solid rgba(124, 135, 142, 0.2);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #7c878e; float: right;}

.woocommerce-checkout .woocommerce-order-details h2 {
    margin: 0 0 10px 0;
    font-size: 22px;
    color: #7c878e;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "termina",sans-serif;
    font-weight: 500;
}

.woocommerce-checkout .woocommerce-order-details td {
    padding: 1.5em 0em;
}
.woocommerce-checkout .woocommerce-order-details td a{color: #7c878e;}
.woocommerce-checkout .woocommerce-order-details thead{ display: none; }
.woocommerce-checkout .woocommerce-order-inner-thankyou{ width: calc(100% - 400px); float: left; margin-bottom: 35px; }

.woocommerce-checkout .woocommerce-order-inner-thankyou .woocommerce-thankyou-order-received{margin: 0 0 15px 0;
    font-size: 16px;
    color: #7c878e;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "termina",sans-serif;
    font-weight: 500;}

.woocommerce-checkout .woocommerce-order-inner-thankyou .woocommerce-thankyou-order-details{ padding: 0; font-size: 16px; list-style: none; color: #7c878e;}
.woocommerce-checkout .woocommerce-order-inner-thankyou .woocommerce-thankyou-order-details li{ margin-bottom: 10px; }
.woocommerce-checkout .woocommerce-order-inner-thankyou .woocommerce-thankyou-order-details span::after{ display: none; }

.blurb_sec p, .home_sec1 p, .home_productsec .product_home .product__sec .price, .home_latest .block .date, .home_sec1 p, .faq_sec .faqul li h4, .faq_sec .faqul li .text_sec, .faq_sec .side_sec p, .page_head p, .result_sec .block p, .blog_post .post_in p, .shop_banner p, .result_woocomerce .products li .price,
.single-product .result_woocomerce .woocommerce-product-details__short-description, .single-product .result_woocomerce .price, .single-product .result_woocomerce .quantity label, .woocommerce-description .woocommerce-product-info p, .woocommerce-description .woocommerce-key-benefits p, 
.woocommerce-description .woocommerce-ingredients p, .terms_page p{ font-size: 16px !important; line-height: 1.6 !important; }

.shipping-calculator-form .form-row .input-text{ padding: 10px !important; background: #fff !important; border-radius: 0px !important; margin-bottom: 0px !important; }
.shipping-calculator-form .form-row .select2-container--default .select2-selection--single{ background: #fff !important; border-radius: 0px !important; margin-bottom: 0px !important; border: 0px !important}
.shipping-calculator-form .form-row .select2-container{margin-bottom: 0px !important;}
.shipping-calculator-form .form-row .select2-container .select2-selection--single{ height: 40px !important; }
.shipping-calculator-form .form-row .select2-container--default .select2-selection--single .select2-selection__rendered{ line-height: 40px !important; }
.shipping-calculator-form .form-row .select2-container--default .select2-selection--single .select2-selection__arrow{ top:6px !important; }
.shipping-calculator-form .button{ margin-top: 0px !important; margin-bottom: 15px !important}
.shop_banner .text_block{ max-width: 900px; }
.woocommerce-order-received .woocommerce-customer-details{ width: calc(100% - 400px); }
.woocommerce-order-received .woocommerce-customer-details .woocommerce-column--billing-address{ width: 45%; float: left;  margin-bottom: 35px;}
.woocommerce-order-received .woocommerce-customer-details .woocommerce-column--shipping-address{ width: 45%; float: right; }
.woocommerce-order-received .woocommerce-customer-details h2{margin: 0 0 15px 0;
font-size: 16px;
color: #7c878e;
letter-spacing: 1.5px;
text-transform: uppercase;
font-weight: normal;
font-family: "termina",sans-serif;
font-weight: 500;}
.woocommerce-order-received .woocommerce-customer-details address{font-size: 16px;
list-style: none;
color: #7c878e;}
.yotpo.yotpo-main-widget .yotpo-thank-you .yotpo-thankyou-header span, .yotpo .yotpo-modal-dialog .yotpo-thank-you .yotpo-thankyou-header span, .yotpo .yotpo-nav ul .yotpo-nav-tab.yotpo-active span, .yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, .yotpo .yotpo-comment .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, .yotpo .yotpo-question .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, .yotpo .yotpo-onsite-upload .yotpo-header .yotpo-header-element .y-label.yotpo-user-name{color: #7c878e !important;}












@media (max-width:1700px){.container{width:100%;max-width:1500px}.container-fluid{width:100%;max-width:1700px}
/*.instagramfeads .owl-carousel, .instagramfeads .intgramheading{width:calc(100% - 30px);max-width:1470px}*/
}
@media (max-width:1500px){.container{width:100%;max-width:1300px}.container-fluid{width:100%;max-width:1500px}
/*.instagramfeads .owl-carousel, .instagramfeads .intgramheading{width:calc(100% - 30px);max-width:1270px}*/
.faq_sec .container, .woocommerce-checkout .terms_page .container{max-width:1300px}
}
@media (max-width:1300px){.container{width:100%;max-width:1150px}.container-fluid{width:100%;max-width:1300px}header .navbar .main_menu li{padding:0 10px}
/*.instagramfeads .owl-carousel, .instagramfeads .intgramheading{width:calc(100% - 30px);max-width:1120px}*/
.faq_sec .container, .woocommerce-checkout .terms_page .container{max-width:1150px}
}
@media (max-width:991px){header .navbar .main_menu{display:none}header .navbar .header_right .media_icons{display:none}.blurb_sec{margin-top:-17px}
.blurb_sec .col-md-3{display:inline-block;width:auto}.blurb_sec p{display:none}.blurb_sec h3{margin-bottom:15px;font-size:15px}.blurb_sec figure{margin-bottom:10px}
.blurb_sec figure img{max-width:60px}.home_productsec .product_home .cover_pic{width:100%;margin-bottom:200px}.partner_sec ul li{width:24%;margin-bottom:20px}
.foot_banner{height:210px}.foot_banner img{width:100%;height:100%;-o-object-fit:cover;object-fit:cover;position:absolute;left:0px;top:0px}}
.woocommerce ul.products.columns-2 li.product .loopbackgroundimg, .woocommerce ul.products.columns-2 li.product .mobile-title{ display: none; }

.mob_menu ul.ul2{ display: none; }

.mob_menuin{width: 100%;
max-height: calc(100vh - 150px);
overflow-y: auto;}

@media (max-width:1700px){
/*.instagramfeads .intgramheading .intgram-heading-inner{ left: 0px;}
.instagramfeads .owl-nav{ right: 0px;}*/
    
}
@media (max-width:1500px){

    .become_strockist .block{padding-left: 100px;}
    .woocommerce-cart .woocommerce .cart-collaterals{ padding: 60px; }

    .home_banner .item .text_block h2{ font-size: 50px; }
    .blurb_sec h3{ font-size: 17px;}
    .home_sec1 h2, .partner_sec h2, .foot_banner h2{ font-size: 28px; }
    .home_productsec .product_home .product__sec h3, .home_latest h2, .instagramfeads .intgramheading h2{ font-size: 20px; }
    .how-to-apply-video .video-section, .yotpo-display-wrapper{ max-width: 992px; }

}
@media (max-width:1300px){

    .woocommerce-cart .woocommerce .cart-collaterals{ padding: 45px; }

}

@media (max-width: 1200px){
    .home_banner .carousel-indicators{ bottom: 22%; }
    .stockists_page .col-md-2{ width: 25%; }
    .woocommerce-description .woocommerce-product-info li img, .woocommerce-description .woocommerce-key-benefits li img{ width: 50px;}
    .woocommerce-description .woocommerce-product-info li, .woocommerce-description .woocommerce-key-benefits li{ padding-left: 70px; margin-bottom: 20px; }
    .woocommerce-cart .woocommerce .cart-collaterals{ padding: 30px; }
}
@media (max-width: 991px){
        .mob_menu_icon{ display: block; }
    .show_on_mob{display: block;}
    .hide_on_mob{display: none;}

    footer .show_on_mob{display: none;}
    footer .hide_on_mob{display: block;}


    .home_productsec .product_home .product__sec, .home_productsec .product_home:nth-child(2n) .product__sec {
        width: 300px; margin: auto; margin-top: -100px;position: relative;
left: 0px;
top: 0px;} 
    .home_productsec .product_home .product__sec figure{ max-width: 100%; }
    .home_productsec .product_home .product__sec figure img{ max-width: 100%; height: auto;} 
    .home_productsec .product_home .cover_pic, .home_productsec .product_home:nth-child(2n) .cover_pic{ margin-bottom: 0px; float: none; }
    .partner_sec ul li img{ max-width: 100%; }
    .instagramfeads .owl-nav { right: 0px;}
    header .navbar {height: 76px; margin-bottom: 0px;}
    header .navbar .brand_logo{ top:15px; }
    header .navbar .header_right{ top:20px; }
    .home_latest .col-md-6{ margin-bottom: 50px; }
    .home_latest .col-md-6:last-child{ margin-bottom: 0px; }
    .home_latest h2{ margin: 0 0 25px 0; }
    .blurb_sec .col-md-3{ max-width: 24%; }
    .home_banner .item {height: calc(100vh - 70px);}
    .become_strockist .cover_img{ width: 100%; height: 400px; margin-bottom: 30px; }
    .become_strockist .block {
    left: 0%; max-width: 100%;
    top: 0%;
    position: static;
    width: 100%;
    padding-left: 15px; padding-right: 15px;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);}
    .stockists_page {padding: 150px 0 50px 0;}
    .stockists_page .block{ margin: 0 0 30px 0;}
    .stockists_page h4{ margin: 0 0 10px 0; }
    .stockists_page h2{ margin: 0 0 30px 0; }
    .stockists_page .cover_img{ margin: 0 0 50px 0; }
    .stockists_page .col-md-2{ width: 25%; float: left; }
    .result_woocomerce .products li .add_to_cart_button{ padding: 11px 30px; }
    .woocommerce-description .woocommerce-product-info, .woocommerce-description .woocommerce-key-benefits{ width: 50%; }
    .woocommerce-description .woocommerce-ingredients{ width: 100%; margin-top: 20px; }
    .woocommerce-checkout .before_order_review{ width: 100%; }
    .woocommerce-checkout #customer_details{ width: 100%; }
    .woocommerce-checkout .woocommerce-checkout-payment{ width: 100%; }
    .woocommerce-cart .woocommerce form{ width: 100%; }
    .woocommerce-cart .woocommerce .cart-collaterals{ width: 100%; max-width: 500px; margin-top: 30px; float:left; min-height:0px; }
    .woocommerce-cart .woocommerce .cart-collaterals .cart_totals table td{ width: 100%; }
    .blurb_sec h3{ font-size: 12px; letter-spacing: 1px;}
    .blurb_sec figure img {max-width: 50px;}
    .woocommerce-description .woocommerce-ingredients{margin-top: 20px;}

}
@media (max-width: 768px){
.woocommerce-cart .woocommerce form table tbody td.product-name, .woocommerce-cart .woocommerce form table tbody td.product-price, .woocommerce-page table.shop_table_responsive tr td.product-quantity, .woocommerce-page table.shop_table_responsive tr td.product-subtotal, .woocommerce-cart .woocommerce form table tbody td.product-thumbnail{width: 100%; padding: 10px !important; display: block;}
.woocommerce-cart .woocommerce form table tbody td.product-thumbnail::before{ display: none; }
.woocommerce-cart .woocommerce form table tbody td.actions { height: 130px; }
.woocommerce-page table.cart td.actions .coupon{ width: 100%; float:left; margin-bottom: 5px;}
.woocommerce-cart .woocommerce form table tbody td.actions .button{ float:left !important; margin-left: 0px; }
.woocommerce-cart-form .actions .input-text{ margin-right: 0px !important;max-width: calc(100% - 155px); }
.woocommerce-page div.product div.summary{ margin-right: 0px; width: 100%; }
.woocommerce-order-received .woocommerce-customer-details .woocommerce-column--billing-address,
.woocommerce-order-received .woocommerce-customer-details .woocommerce-column--shipping-address{ width: 100%; }
}
@media (max-width: 767px){

footer .show_on_mob{display: block;}
    footer .hide_on_mob{display: none;}
    .instagramfeads .owl-carousel {width: calc(100% - 30px); float: none;}
    footer .col-md-2, footer .col-md-3{ margin-bottom: 30px; }
    footer .col-md-2{ width: 50%; float:left; }
    footer .col-md-2:last-child {width: auto;float: right;margin-bottom: 0px;position: absolute;right: 0;}
    footer .col-md-3{ width: 100%; float:left;}
    footer{ padding: 50px 0 20px; }
    .faq_sec .faqul{ width: 100%; }
    .faq_sec .col-md-9{ margin-bottom: 55px; }
    .faq_sec .side_sec h3, .faq_sec h2{ text-align: center; font-size: 16px; }
    .faq_sec .side_sec p, .faq_sec .faqul li .text_sec, .faq_sec .faqul li h4{ font-size: 14px; }
    .faq_sec .faqul li h4::after { font-size: 15px; }
    .page-template-about .blurb_sec{ padding: 0; }
    .page-template-about .blurb_sec .col-md-3 {max-width: 100%;width: 100%; margin-bottom: 30px;}
    .page-template-about .blurb_sec figure{ margin-bottom: 35px; }
    .page-template-about .blurb_sec h3{ font-size: 22px; }
    .page-template-about .blurb_sec p{ display: block; }
    .page_head h1{ font-size: 22px; margin-bottom: 30px;}
    .page_head p, .blog_post .post_in p, .result_sec .block p, .result_sec .page_bottom_text p, .become_strockist .block p{ font-size: 14px; }
    .page_head {padding: 150px 0 50px;}
    .blog_post .post_in h1{ text-align: center; }
    .blog_post {padding: 150px 0 50px 0;}
    .blog_post .post_in .share_post{ padding: 40px 0 0 0 }
    .result_sec{padding: 0 0 40px 0;}
    .result_sec .page_bottom_text {padding: 40px 0 20px;}
    .stockists_page .col-md-2{ width: 33.3333%; }
    .stockists_page h1{ font-size: 22px; margin: 0 0 30px 0; }
    .become_strockist .block h3{ text-align: center; }
    .shop_banner h1{ font-size: 32px; }
    .shop_banner p{ font-size: 14px; }
    .woocommerce-page ul.products[class*="columns-"] li.product{ width: 100%; }
    .result_woocomerce .products li .woocommerce-loop-product__title, .result_woocomerce .products li .woocommerce-mobile-product__title{ font-size: 16px; }
    .woocommerce-description .woocommerce-product-info, .woocommerce-description .woocommerce-key-benefits, .woocommerce-description .woocommerce-ingredients{ margin-bottom: 30px; margin-top:0px; width: 100%; }
    .single-product .result_woocomerce h1.product_title{ font-size: 20px; }
    .woocommerce-description .woocommerce-product-info h3, .woocommerce-description .woocommerce-key-benefits h3, .woocommerce-description .woocommerce-ingredients h3, .how-to-apply-video h3, .related.products h2, .woo-product-reviews-widget h2, .woocommerce-checkout .woocommerce-checkout h3{ font-size: 16px; margin-bottom: 25px;}
    .woocommerce-checkout .before_order_review h3{font-size: 16px; margin-bottom: 10px;}
    .woocommerce-description .woocommerce-product-info h4, .woocommerce-description .woocommerce-key-benefits h4, .woocommerce-description .woocommerce-ingredients h4{ font-size: 11px; }
    .woocommerce-description .woocommerce-product-info p, .woocommerce-description .woocommerce-key-benefits p, .woocommerce-description .woocommerce-ingredients p, .single-product .result_woocomerce .woocommerce-product-details__short-description, .single-product .result_woocomerce .price, .single-product .result_woocomerce .quantity label{ font-size: 14px; }
    .woocommerce-description{padding: 20px 0 40px 0;}
    .woocommerce-checkout h1{ font-size: 22px; margin-bottom: 30px; }
    .woocommerce-cart .woocommerce .cart-collaterals .cart_totals h2{ font-size: 22px !important; margin-bottom: 12px; }
    .woocommerce-info{ font-size: 14px; }
    .terms_page {padding: 140px 0 70px 0;}
    .instagramfeads .intgramheading{ position: static; 
        -webkit-transform: translate( 0%, 0%);
-moz-transform: translate( 0%, 0%);
-o-transform: translate( 0%, 0%);
-ms-transform: translate( 0%, 0%);
transform: translate( 0%, 0%);}
    .instagramfeads .intgramheading .intgram-heading-inner{ position: static; 
        -webkit-transform: translate( 0%, 0%);
-moz-transform: translate( 0%, 0%);
-o-transform: translate( 0%, 0%);
-ms-transform: translate( 0%, 0%);
transform: translate( 0%, 0%);
padding-left: 15px; padding-right: 15px; width: 100%;}
.instagramfeads .intgramheading p{ display: none; }
.instagramfeads .intgramheading h2{ font-size: 16px; }   
.instagramfeads .owl-nav{ display: none; }
.instagramfeads{ margin: 0 0 60px 0; }
.woocommerce ul.products.columns-2 li.product .loopbackgroundimg, .woocommerce ul.products.columns-2 li.product .mobile-title{ display: block; }
.result_woocomerce .products li .woocommerce-loop-product__title{ display: none; }
.single-product .result_woocomerce .products li .woocommerce-loop-product__title {display: block;}
.woocommerce ul.products.columns-2 li.product .loopbackgroundimg{width: calc(100% + 30px);height: 300px;position: relative;margin-left: -15px;margin-bottom: -40%; background: #ddd;} 
.woocommerce ul.products.columns-2 li.product .loopbackgroundimg img{ position: absolute; top:0px; left: 0px; width: 100%; height: 100%; object-fit: cover; margin-bottom: -30%;}
.woocommerce ul.products.columns-2 li.product .loopbackgroundimg img[alt="Placeholder"]{ opacity: 0.6; }

/*.woocommerce-product-gallery .woocommerce-product-gallery__image img {margin: 35px auto;}*/
.single-product ul.products[class*="columns-"] li.product{ width: 50%; }
.single-product ul.products[class*="columns-"] li.product:nth-child(3){ display: none; }
.single-product .result_woocomerce .products li .add_to_cart_button{padding: 8px 17px; font-size: 9px;}
.single-product .result_woocomerce .products li .woocommerce-loop-product__title, .single-product .result_woocomerce .products li .woocommerce-mobile-product__title {font-size: 12px;}
.result_woocomerce .products li .price {font-size: 14px;}
.yotpo.yotpo-main-widget{ margin-bottom: 50px; }
.terms_page h1{ font-size: 22px; margin: 0 0 25px 0; }
.terms_page p{ font-size: 14px; }
.terms_page h4{ font-size: 15px; }
.faq_sec{ padding: 0 0 50px 0; }
.about_imgsec{margin: 0; height: 170px;}
    .about_imgsec .small_img{ display: none; }
.single-product .summary.entry-summary{ text-align: center; }
.single-product .result_woocomerce .single_add_to_cart_button{ font-size: 12px; }
header .mobile_logo{ display:block;}
header .desktop_logo, .shop_banner .cover_img{ display:none;}
.shop_banner .cover_mobile{ display: block; }
.mobile-instagram-feed {display: block; padding: 0 15px; margin-top: -48px; margin-bottom: 50px;}
.mobile-instagram-feed a{ color: #7c878e; font-size: 15px; margin-bottom:0px;}
.mobile-instagram-feed p{ color: #7c878e; font-size: 15px; margin-bottom:5px;}

header .navbar .brand_logo .mobile_logo img{width: auto;height: 41px;float: left;}
.product-mobile-arrow {
    display: block; position: absolute; top: -1px; right: 15px; font-size: 25px; line-height: 1; cursor: pointer;}
.mob_menu ul li{ position: relative; }
.mob_menu ul.ul1 .submenu{margin-top: 15px;margin-bottom: 20px;padding-left: 15px;}
.mob_menu ul.ul1 .submenu li a{ color: #000; font-size: 15px;font-family: "AkkuratLight" !important;text-transform: none; letter-spacing: 1px;}
.filter-button-group{ font-size: 12px; }
.error-404 .page-header h1{ font-size: 18px; }
.woocommerce-checkout .woocommerce-order-details{ width: 100%;  margin-bottom: 50px;}
.woocommerce-checkout .woocommerce-order-inner-thankyou{ width: 100%; }

.blurb_sec p, .home_sec1 p, .home_productsec .product_home .product__sec .price, .home_latest .block .date, .home_sec1 p, .faq_sec .faqul li h4, .faq_sec .faqul li .text_sec, .faq_sec .side_sec p, .page_head p, .result_sec .block p, .blog_post .post_in p, .shop_banner p, .result_woocomerce .products li .price,
.single-product .result_woocomerce .woocommerce-product-details__short-description, .single-product .result_woocomerce .price, .single-product .result_woocomerce .quantity label, .woocommerce-description .woocommerce-product-info p, .woocommerce-description .woocommerce-key-benefits p, 
.woocommerce-description .woocommerce-ingredients p, .terms_page p{ font-size: 14px !important; line-height: 1.5 !important; }
.woocommerce-checkout #payment ul.payment_methods li img.stripe-icon, #add_payment_method #payment ul.payment_methods li img.stripe-icon { max-width: 20px !important;margin: 7px 0 0 0 !important;}
}

@media (max-width: 500px){
    .home_latest .block::before { padding-top: 120%;}
    .home_latest .block.home_blog figure { width: 100%; height: calc(100% - 150px);}
    .home_latest .block .title{ width: 100%; padding: 0 15px; }
    .home_latest .block .date{ width: 100%; padding: 0 15px; }
    .home_latest .block.home_blog .date{ top:auto; bottom: 110px; }
    .home_banner .item .text_block h2{ font-size: 26px; }
    .home_banner .item .text_block .banner_btn{ font-size: 12px; }
    .home_sec1{padding: 10px 0 80px 0;}
    .blurb_sec figure img{ max-width: 60%; }
    .blurb_sec h3{ font-size: 8px; letter-spacing: 0px; }
    .home_sec1 h2{ font-size: 22px; margin: 0 0 30px 0 }
    .home_sec1 p{ font-size: 14px; }
    .home_productsec{padding: 0px;}
    .home_productsec .product_home .product__sec h3{ font-size: 16px; }
    .home_productsec .product_home .product__sec .price{ font-size: 14px; }
    .home_productsec .product_home .product__sec .add_to_cart_button{padding: 12px 30px;}
    .home_productsec .product_home .product__sec figure{ max-width: 230px; }
    .product_home_images .attachment-woocommerce_product_badge{ margin-left: 75px; }
    .partner_sec h2{ font-size: 16px; margin: 0 0 30px 0; }
    .home_productsec .product_home{ margin-bottom: 70px; }
    .home_productsec .product_home:last-child{ margin-bottom: 0px; }
    .partner_sec{padding: 70px 0 50px;}
    .foot_banner h2{ font-size: 22px; }
    .foot_banner{ margin-bottom: 60px; }
    .home_latest .block .title{ font-size: 12px; }
    .home_latest .block .date{ font-size: 13px; }
    .cart_popup{ width: 350px; max-width: 100%; }
    .min-cart-right{width: calc(100% - 120px);}
    .min-cart-left{ width: 100px; }
    .cart_popup .bottom_sec .ut_list li{ font-size: 8px; }
    .about_banner .text_in{ font-size: 20px; }
    .about_banner{ margin-bottom: 45px; }
    .stockists_page .col-md-2{ width: 50%; }
    .shop-image-bundel{max-width: calc(100% - 90px);width: 60%;}
    .woocommerce-cart .woocommerce .cart-collaterals{ padding: 15px; }
    .woocommerce ul.products.columns-2 li.product .loopbackgroundimg{ height: 220px; }
    .mobile-addto-cart{ display: block; }
    .blurb_sec .col-md-3 {padding: 0px 5px;}
    .single-product .result_woocomerce .products li .woocommerce-loop-product__title{ min-height: 40px; font-size: 10px; }
    .single-product .result_woocomerce .products li .shop-image-bundel{ width: 100%; max-width: calc(100% - 50px) }
}