.about_banner
	width: 100%
	position: relative
	text-align: center
	.cover_pic
		width: 100%
		height: auto

	.text_in
		color: $aboutbannercolor
		font-weight: normal
		font-size: 32px
		text-transform: uppercase
		letter-spacing: 4px 
		z-index: 1
		position: absolute
		top: 50% 
		left: 50%
		-webkit-transform: translate(-50%, -50%)
		-moz-transform: translate(-50%, -50%)
		-o-transform: translate(-50%, -50%)
	    -ms-transform: translate(-50%, -50%)
		transform: translate(-50%, -50%)


.about_imgsec
	margin: 100px 0 140px
	width: 100%
	background-size: cover
	background-repeat: no-repeat 
	.small_img
		float: right
		position: relative
		bottom: -120px


.faq_sec
	padding: 0 0 120px 0 
	width: 100%
	.container
		max-width: 1450px

	h2
		font-size: 22px
		text-transform: uppercase
		font-weight: normal
		color: $aboutfaqcolor
		letter-spacing: 2px
		margin: 0 0 35px 0

	.faqul
		padding: 0px
		margin: 0px
		width: 90%
		list-style: none
		li
			width: 100%
			margin-bottom: 25px
			h4::after
				content: "\f107";
				font: normal normal normal 20px/1 FontAwesome;
				position: absolute
				top: 2px
				right: 10px

			h4.open::after
				content: "\f106";
			h4
				font-size: 17px
				cursor: pointer
				padding-right: 30px
				color: $aboutfaqcolor
				font-family: $font_AkkuratLight
				position: relative
				margin: 0px
			.text_sec
				font-size: 17px
				opacity: 0.6
				padding-right: 30px
				color: $aboutfaqcolor
				font-family: $font_AkkuratLight
				padding-top: 7px
				display: none

	.side_sec
		margin-bottom: 40px
		h3
			font-size: 16px
			text-transform: uppercase
			font-weight: normal
			color: $aboutfaqcolor
			letter-spacing: 2px
			margin: 0 0 20px 0

		p
			font-size: 17px
			margin: 0 0 20px 0
			color: $aboutfaqcolor
			font-family: $font_AkkuratLight

		a
			color: $aboutfaqcolor

