.result_sec
	.home_latest
	 	padding: 0


.blog_post
	padding: 180px 0 150px 0
	text-align: center
	.home_latest
		padding: 100px 0 0 0
	.container
		max-width: 1165px

	.date1
		color: #7c878e
		font-size: 11px
		opacity: 0.4
		margin-bottom: 45px
		text-transform: uppercase
		letter-spacing: 2px

	.post_in
		padding: 60px 0 0 0
		width: 80%
		display: inline-block
		text-align: left
		h1
			font-size: 22px
			text-transform: uppercase
			letter-spacing: 3px
			font-weight: normal
			color: #7c878e
			margin: 0 0 40px 0
			line-height: 1.3

		h3
			font-size: 16px
			text-transform: uppercase
			letter-spacing: 2px
			font-weight: normal
			color: #7c878e
			margin: 0 0 40px 0 
			line-height: 1.4

		p
			font-size: 17px
			margin: 0 0 20px 0
			color: #7c878e
			font-family: $font_AkkuratLight


		.fullimg
			width: 100%
			padding: 10px 0 25px 0
			img
				width: 100%
				height: auto

		.share_post
			padding: 100px 0 0 0
			font-size: 11px
			text-transform: uppercase
			letter-spacing: 2px
			font-weight: normal
			color: #7c878e
			a
				display: inline-block 
				vertical-align: middle
				margin-left: 10px
				font-size: 22px
				color: #7c878e
				margin-top: -4px


.read_full_art
	padding: 10px 20px
	font-size: 11px
	letter-spacing: 2px
	color: #fff
	background: #c7c9d8
	border-radius: 4px
	text-transform: uppercase
	display: inline-block
	margin: 30px 0 -50px

.read_full_art:hover
	color: #fff
	background: #fcc5d4
