footer
	background: $footerbg
	padding: 60px 0 50px
	color: $footertextcolor
	font-size: 12px
	font-family: $font_AkkuratLight
	line-height: 1.4
	.foot_logo
		width: 180px
		display: inline-block
		margin-bottom: 30px

		img
			width: 100%

	.media_icons
		margin-bottom: 30px
		a
			font-size: 20px
			margin-right: 10px
			display: inline-block
			color: $footertitlecolor

		a:hover
			color: #fcc5d4 !important

	h3
		color: $footertitlecolor
		text-transform: uppercase
		font-size: 11px
		font-weight: normal
		margin: 0 0 15px 0
		letter-spacing: 2px

	ul
		padding: 0px
		margin: 0px
		width: 100%
		list-style: none
		a
			color: $footertextcolor
			font-size: 12px
			font-family: $font_AkkuratLight
			line-height: 1.4

		a:hover
			color: $footerlinkhover

	.inn1
		width: 100%
		height: 30px
		border: 1px solid #c7c9d8
		color: $footertextcolor
		font-size: 12px
		font-family: $font_AkkuratLight
		margin-bottom: 15px
		padding: 0 10px
		background: none
		outline: none
	.inn1::-webkit-input-placeholder
		color: $footertextcolor
	.inn1::-moz-placeholder
		color: $footertextcolor
	.inn1:-ms-input-placeholder
		color: $footertextcolor
	.inn1:-moz-placeholder
		color: $footertextcolor
	.signup
		padding: 0px
		background: none
		color: $footertextcolor
		outline: none
		font-size: 12px
		font-family: $font_AkkuratLight
		border: none
		background: none

	.signup:hover
		color: $footerlinkhover

	.scrolltotop
		font-size: 20px
		color: $footertitlecolor
		float: right
