.home_banner 
	.carousel-indicators
		bottom: 30%
		z-index: 0
	.item
		height: calc(100vh - 100px)
		background-size: cover
		background-position: center
		background-repeat: no-repeat

		.text_block
		    top: 50%
		    left: 0%
		    text-align: center 
		    position: absolute
		    width: 100%
		    height: auto
		    -webkit-transform: translate(0%,-50%)
		    -moz-transform: translate(0%,-50%)
		    -o-transform: translate(0%,-50%)
		    -ms-transform: translate(0%,-50%)
		    transform: translate(0%,-50%)
		    padding: 0 10px
				
		    h2
		    	font-size: 62px
		    	color: #fff
		    	margin: 0px
		    	padding: 0px
		    	text-transform: uppercase
		    	letter-spacing: 4px

		    .banner_btn
		    	padding: 10px 27px 8px
		    	border: 1px solid #fff
		    	color: #fff
		    	font-size: 16px
		    	letter-spacing: 3px 
		    	background: none
			    margin-top: 40px
			    display: inline-block 
			    text-transform: uppercase
			
			
		.banner_btn:hover
			background: #fff
			color: #000

.blurb_sec
	padding: 0 0 50px 0
	width: 100%
	margin-top: -25px
	text-align: center
	figure
		margin-bottom: 35px
	h3
		color: $blurb_textcolor
		font-size: 22px
		font-weight: normal
		text-transform: uppercase
		margin: 0 0 35px 0
	p
		color: $blurb_textcolor
		font-size: 17px
		font-family: $font_AkkuratLight
		line-height: 1.2

.home_sec1
	width: 100%
	padding: 80px 0
	text-align: center
	h2
		color: $homesec1_textcolor
		font-size: 32px
		font-weight: normal
		text-transform: uppercase
		margin: 0 0 50px 0

	p
		color: $homesec1_textcolor
		font-size: 17px
		font-family: $font_AkkuratLight
		line-height: 1.2

	.text_in
		max-width: 750px
		width: 100%
		display: inline-block

.home_productsec
	padding: 70px 0 0 0
	.product_home
		width: 100% 
		margin-bottom: 120px
		position: relative
		.cover_pic::before
			content: ''
			padding-top: 55%
			width: 100%
			display: block

		.cover_pic
			float: right
			width: 75%
			position: relative
			img
				position: absolute
				top: 0px
				left: 0px
				width: 100%
				height: 100%
				object-fit: cover

		.product__sec.act
			margin-top: -235px
		.product__sec
			width: 400px 
			text-align: center
			position: absolute
			top: 50% 
			left: 25%
			margin-left: -200px
			margin-top: 0px
			-webkit-transition: margin-top 1.3s ease-in-out
			-moz-transition: margin-top 1.3s ease-in-out
			-ms-transition: margin-top 1.3s ease-in-out
			-o-transition: margin-top 1.3s ease-in-out
			transition: margin-top 1.3s ease-in-out

			h3
			    color: $homeproduct_textcolor
			    font-size: 22px
			    margin: 0 0 10px 0
			    letter-spacing: 4px
			    text-transform: uppercase
			    span
			    	display: block


			figure
				display: inline-block
				position: relative
				margin: 20px 0

			.price
				color: $homeproduct_textcolor
				font-size: 17px

			.add_to_cart
				background: #c7c9d8
				color: #fff
				font-size: 11px
				text-transform: uppercase
				padding: 8px 20px
				display: inline-block
				letter-spacing: 2px
				margin-top: 10px
			.add_to_cart:hover
				background: #fcc5d4
	.product_home:nth-child(even)
		.cover_pic
			float: left

		.product__sec
			left: 75% 

		   
.foot_banner
	width: 100%
	margin-bottom: 110px
	position: relative
	text-align: center
	img
		width: 100%

	h2
		font-size: 32px
		margin: 0px
		color: $footerbannercolor
		font-weight: normal
		text-transform: uppercase
		letter-spacing: 4px
		z-index: 1
		width: 100%
		padding: 0 30px
		position: absolute
		top: 50% 
		left: 50%
		-webkit-transform: translate(-50%, -50%)
		-moz-transform: translate(-50%, -50%)
		-o-transform: translate(-50%, -50%)
	    -ms-transform: translate(-50%, -50%)
		transform: translate(-50%, -50%)


.partner_sec
	padding: 70px 0 140px
	text-align: center
	h2
		color: #7c878e
		font-size: 32px
		text-transform: uppercase
		letter-spacing: 4px
		font-weight: normal
		margin: 0 0 50px 0

	ul	
		padding: 0px
		margin: 0px
		list-style: none

		li
			display: inline-block
			vertical-align: middle
			padding: 5px 15px


.home_latest
	padding: 0 0 110px 0
	h2
		color: $latesttitlecolor
		font-size: 22px
		text-align: center
		text-transform: uppercase
		letter-spacing: 2px
		font-weight: normal
		margin: 0 0 40px 0	
	.block
		background: #f8f9f9
		width: 100%
		position: relative
		.title
			width: 50%
			position: absolute
			font-size: 16px
			text-transform: uppercase
			color: $homeresultcolor
			bottom: 20px
			left: 0px
			letter-spacing: 4px
			padding-left: 20px
		.date
			width: 50%
			position: absolute
			font-size: 17px
			color: $homeresultcolor
			top: 20px
			left: 0px
			letter-spacing: 2px
			padding-left: 20px

		figure
			width: 100%
			position: absolute 
			right: 0%
			top: 0px
			height: 100%
			overflow: hidden
			img
				width: 100%
				position: absolute
				left: 0px
				top: 0px
				height: 100% !important
				object-fit: cover
				-moz-transform: scale(1)
				-webkit-transform: scale(1)
				-o-transform: scale(1)
				-ms-transform: scale(1)
				transform: scale(1)
				transform-origin: 50% 50%

				-webkit-transition: all 0.4s ease-in-out
				-moz-transition: all 0.4s ease-in-out
				-ms-transition: all 0.4s ease-in-out
				-o-transition: all 0.4s ease-in-out
				transition: all 0.4s ease-in-out


	.block:hover
		figure
			img
				-moz-transform: scale(1.05)
				-webkit-transform: scale(1.05)
				-o-transform: scale(1.05)
				-ms-transform: scale(1.05)
				transform: scale(1.05)

	.block::before
		display: block
		content: ''
		padding-top: 52%
	.block.home_blog
		figure
			width: 50% 
		.title, .date
			color: $homeblogcolor


