body 
	background: $bodycolor
div::after, section::after, header::after, footer::after, a::after, span::after, ul::after, li::after, ol::after
	content: ""
	width: 100%
	display: block
	clear: both
.container
	width: 100%
	max-width: 1740px

.container-fluid
	width: 100%
	max-width: 1900px
	position: relative

header
	width: 100%
	position: fixed
	left: 0px
	top: 0px
	z-index: 1
	.container-fluid
		position: static

	.navbar
		padding: 0
		text-align: center
		background: rgba(256, 256, 256, 0)
		-webkit-transition: all 0.4s ease-in-out
		-moz-transition: all 0.4s ease-in-out
		-ms-transition: all 0.4s ease-in-out
		-o-transition: all 0.4s ease-in-out
		transition: all 0.4s ease-in-out
		.header_right
			display: inline-block
			position: absolute
			top: 35px
			right: 15px
			.media_icons
				border-right: 1px solid $headertextcolor
				vertical-align: middle
				display: inline-block
				padding: 4px 5px 0 0
				a
					display: inline-block
					font-size: 19px
					color: $headertextcolor
					margin-right: 15px
				a:hover
					color: #fcc5d4 !important
			.cart_icon
				width: 50px
				height: 30px
				background: url(../img/cart_icon.png) no-repeat left 
				display: inline-block
				margin-left: 15px
				vertical-align: middle
				position: relative
				.cart_no
					position: absolute
					left: 30px
					top: 6px
					color: $headertextcolor

		.brand_logo
			width: 170px
			display: inline-block
			position: absolute
			left: 15px
			top: 25px

			img
				width: 100%

			img.img2
				display: none

		.main_menu
			margin: 0px auto
			padding: 0px
			width: auto
			display: inline-block
			list-style: none
			li
				padding: 0 20px
				display: inline-block
				a
					color: $headertextcolor
					font-size: 11px
					letter-spacing: 2px 
					text-transform: uppercase
					padding: 43px 0
					display: block
				a:hover
					color: #fcc5d4 !important


				.submenu
					position: absolute
					display: none
					top: 100%
					width: 100%
					background: rgba(256, 256, 256, 0.9)
					padding: 10px 0 30px 0
					left: 0px
					text-align: center
					li
						display: inline-block
						vertical-align: top
						max-width: 157px;
						padding: 0 10px
						a
							color: #7c878e
							font-size: 12px
							font-family: $font_AkkuratLight
							letter-spacing: 1px 
							text-transform: none 
							padding: 0px

						a:hover
							color: #000 !important


header.sticky
	.navbar
		background: rgba(256, 256, 256, 0.9)
		.header_right
			.media_icons
				border-right: 1px solid #000
				a
					color: $headertextcolorsticky
			.cart_icon
				background: url(../img/cart_icon1.png) no-repeat left 
				.cart_no
					color: $headertextcolorsticky

		.brand_logo
			img
				width: 100%
			img.img1
				display: none
			img.img2
				display: block

		.main_menu
			li
				a
					color: $headertextcolorsticky
header.sticky1
	.navbar
		background: rgba(256, 256, 256, 0.99)
		.header_right
			.media_icons
				border-right: 1px solid $headertextcolorsticky
				a
					color: $headertextcolorsticky
			.cart_icon
				background: url(../img/cart_icon1.png) no-repeat left 
				.cart_no
					color: $headertextcolorsticky

		.brand_logo
			img
				width: 100%
			img.img1
				display: none
			img.img2
				display: block

		.main_menu
			li
				a
					color: $headertextcolorsticky
header.sticky2
	.navbar
		background: rgba(256, 256, 256, 0.99)
		.header_right
			.media_icons
				border-right: 1px solid $headertextcolorsticky
				a
					color: $headertextcolorsticky
			.cart_icon
				background: url(../img/cart_icon1.png) no-repeat left 
				.cart_no
					color: $headertextcolorsticky

		.brand_logo
			img
				width: 100%
			img.img1
				display: none
			img.img2
				display: block

		.main_menu
			li
				a
					color: $headertextcolorsticky
.topbar_bg
	background: rgb(204,202,223)
	background: -moz-linear-gradient(left, rgba(204,202,223,1) 0%, rgba(252,197,212,1) 100%)
	background: -webkit-linear-gradient(left, rgba(204,202,223,1) 0%,rgba(252,197,212,1) 100%)
	background: linear-gradient(to right, rgba(204,202,223,1) 0%,rgba(252,197,212,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccadf', endColorstr='#fcc5d4',GradientType=1 )

.topbar
	@extend .topbar_bg
	height: 34px
	color: $topbarcolor
	padding-top: 9px
	font-size: 12px
	font-family: $font_AkkuratLight
	position: relative
	z-index: 3

.cart_overlay
	background: rgba(0, 0, 0, 0.75)
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	display: none
	z-index: 1
	-webkit-transition: height 0.4s ease-in-out
	-moz-transition: height 0.4s ease-in-out
	-ms-transition: height 0.4s ease-in-out
	-o-transition: height 0.4s ease-in-out
	transition: height 0.4s ease-in-out

.cart_popup
	width: 400px
	padding: 30px
	padding-top: 70px
	background: #fff
	position: absolute
	text-align: left
	top: 0px
	right: -500px
	height: 100vh
	z-index: 1
	-webkit-transition: right 0.4s ease-in-out
	-moz-transition: right 0.4s ease-in-out
	-ms-transition: right 0.4s ease-in-out
	-o-transition: right 0.4s ease-in-out
	transition: right 0.4s ease-in-out

	.close1
		position: absolute
		width: 20px
		height: 20px
		top: 67px
		right: 30px

	.close1::before
		position: absolute
		width: 100%
		height: 2px
		background: #000
		content: ""
		top: 50%
		left: 0px
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);

	.close1::after
		position: absolute
		width: 100%
		height: 2px
		background: #000
		content: ""
		top: 50%
		left: 0px
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);


	h3
		margin: 0 0 30px 0
		color: #000
		font-size: 11px
		letter-spacing: 2px 
		text-transform: uppercase

	h4
		margin: 0 0 15px 0
		color: #000
		font-size: 11px
		letter-spacing: 2px 
		text-transform: uppercase

	.bottom_sec
		padding: 30px
		width: 100%
		position: absolute
		bottom: 0px
		right: 0px
		.ut_list
			width: 100%
			margin: 0 0 20px 0
			padding: 0px
			list-style: none
			li
				width: calc(100% / 3)
				float: left
				text-align: center
				padding: 0 10px
				color: #c7c9d8
				font-size: 10px
				letter-spacing: 2px 
				text-transform: uppercase

				img 
					width: 45px
					height: auto
					margin-bottom: 10px

		table
			width: 100%
			td
				width: 50%
				padding: 10px 0
				font-size: 12px
				font-family: $font_AkkuratLight
				color: #000

			td:last-child
				text-align: right

			.cart_checkout_btn
				padding: 10px 20px
				border: 1px solid #000
				color: #000
				background: rgba(0, 0, 0, 0)
				display: inline-block
				letter-spacing: 2px 
				text-transform: uppercase

			.cart_checkout_btn:hover
				background: rgba(0, 0, 0, 1)
				color: #fff


.opencart 
	.cart_overlay
		height: 100%
		display: block

	.cart_popup
		right: 0px


