@media (max-width: 1700px)
	.container
		width: 100%
		max-width: 1600px

	.container-fluid
		width: 100%
		max-width: 1700px

@media (max-width: 1500px)
	.container
		width: 100%
		max-width: 1400px

	.container-fluid
		width: 100%
		max-width: 1500px

@media (max-width: 1300px)
	.container
		width: 100%
		max-width: 1200px

	.container-fluid
		width: 100%
		max-width: 1300px

	header 
		.navbar 
			.main_menu 
				li
					padding: 0 10px

@media (max-width: 991px)
	header 
		.navbar 
			.main_menu
				display: none
			.header_right 
				.media_icons
					display: none


	.blurb_sec
		margin-top: -17px

		.col-md-3
			display: inline-block
			width: auto
		p
			display: none
		h3
			margin-bottom: 15px
			font-size: 16px
		figure
			margin-bottom: 10px
			img
				max-width: 60px

	.home_productsec 
		.product_home 
			.cover_pic
				width: 100%
				margin-bottom: 200px

	.partner_sec 
		ul 
			li
				width: 24%
				margin-bottom: 20px

	.foot_banner
		height: 210px
		img
			width: 100%	
			height: 100%
			object-fit: cover
			position: absolute
			left: 0px
			top: 0px
