.page_head
	padding: 200px 0 100px
	text-align: center
	h1
		color: $resulttextcolor
		font-size: 32px
		font-weight: normal
		text-transform: uppercase
		letter-spacing: 4px
		margin: 0 0 50px 0
	p
		font-size: 17px
		margin: 0 0 20px 0
		color: $resulttextcolor
		font-family: $font_AkkuratLight

		a
			color: $resultlinkcolor
			display: inline-block

	ul
		padding: 0px
		margin: 20px 0 0 0
		display: inline-block
		li
			display: block
			font-size: 16px
			letter-spacing: 2px
			text-transform: uppercase
			padding: 4px 0
			opacity: 0.4
			a
				color: $resulttextcolor

		li.active
			opacity: 1


.result_sec
	padding: 0 0 130px 0
	.block
		width: 100%
		position: relative
		margin-bottom: 40px
		figure
			width: 100%
			img
				width: 100%
				height: auto
		.text_block
			padding: 20px 0 0 0
			width: 100%

		h4
			font-size: 11px
			font-weight: normal
			color: $resulttextcolor
			text-transform: uppercase
			letter-spacing: 2px
			margin: 0 0 15px 0

			a
				color: $resulttextcolor
				display: block
				position: relative
				width: 100%

			a::after
				position: absolute
				top: 0px
				right: 0px
				opacity: 0.6
				content: "\f062"
				font: normal 14px/1 FontAwesome
				width: auto
				-moz-transform: rotate(45deg)
				-webkit-transform: rotate(45deg)
				-o-transform: rotate(45deg)
				-ms-transform: rotate(45deg)
				transform: rotate(45deg)

		p
			font-size: 17px
			margin: 0
			color: $resulttextcolor
			font-family: $font_AkkuratLight

	.next_prev
		padding: 80px 0 0 0
		text-align: center
		font-size: 12px
		color: $resulttextcolor
		font-family: $font_AkkuratLight
		.btns
			display: inline-block
			font-size: 17px
			color: $resulttextcolor
			a
				color: $resulttextcolor
				display: inline-block
				margin: 0 5px
				.fa
					margin: 0 3px


	.page_bottom_text
		padding: 120px 0 30px
		text-align: center
			
		p
			font-size: 17px
			margin: 0 0 20px 0
			color: $resulttextcolor
			font-family: $font_AkkuratLight

		a
			color: $resultlinkcolor
			display: inline-block