.stockists_page
	padding: 180px 0 150px 0
	.cover_img
		width: 100%
		margin: 0 0 110px 0
		img
			width: 100%
			height: auto
	h1
		font-size: 32px
		text-transform: uppercase
		letter-spacing: 3px
		font-weight: normal
		color: #7c878e
		margin: 0 0 60px 0
		line-height: 1.3
		text-align: center 

	h2
		font-size: 16px
		text-transform: uppercase
		letter-spacing: 2px
		font-weight: normal
		color: #7c878e
		margin: 0 0 60px 0
		line-height: 1.3
		text-align: center 

	h4
		font-size: 17px
		margin: 0 0 18px 0
		color: #7c878e
		font-family: $font_AkkuratLight

	p
		font-size: 12px
		margin: 0
		color: #7c878e
		font-family: $font_AkkuratLight 

	.block
		margin: 0 0 60px 0


.become_strockist
	position: relative
	margin: 0 0 120px 0
	.cover_img
		width: 60%
		height: 530px
		background-repeat: no-repeat
		background-size: cover

	.block
		left: 60%
		top: 50%
		position: absolute
		width: 550px
		padding-left: 160px
		-webkit-transform: translate(0%,-50%)
		-moz-transform: translate(0%,-50%)
		-o-transform: translate(0%,-50%)
		-ms-transform: translate(0%,-50%)
		transform: translate(0%,-50%)

		h3
			font-size: 16px
			text-transform: uppercase
			letter-spacing: 2px
			font-weight: normal
			color: #7c878e
			margin: 0 0 20px 0
			line-height: 1.3

		p
			font-size: 17px
			margin: 0 0 20px 0
			color: #7c878e
			font-family: $font_AkkuratLight

		p:last
			margin-bottom: 20px