.terms_page
	padding: 180px 0 150px 0
	.container
		max-width: 860px
	h1
		font-size: 32px
		text-transform: uppercase
		letter-spacing: 3px
		font-weight: normal
		color: $termspagecolor
		margin: 0 0 40px 0
		line-height: 1.3
		text-align: center 

	h4
		font-size: 16px
		text-transform: uppercase
		letter-spacing: 2px
		font-weight: normal
		color: $termspagecolor
		margin: 0 0 20px 0 
		padding: 20px 0 0 0
		line-height: 1.4

	p
		font-size: 17px
		margin: 0 0 20px 0
		color: $termspagecolor
		font-family: $font_AkkuratLight
