$bodycolor: #fff
$topbarcolor: #fff
$headertextcolor: #fff
$headertextcolorsticky: #000
$footerbg: #8288ab
$footertextcolor: #c7c9d8
$footertitlecolor: #fff
$footerlinkhover: #fcc5d4
$footerbannercolor: #fff


$latesttitlecolor: #7c878e;
$homeresultcolor: #fff;
$homeblogcolor: #7c878e;

$blurb_textcolor: #c7c9d8
$homesec1_textcolor: #7c878e
$homeproduct_textcolor: #7c878e


$aboutbannercolor: #fff
$aboutfaqcolor: #7c878e

$resulttextcolor: #7c878e
$resultlinkcolor: #fcc5d4

$termspagecolor: #7c878e

$font_AkkuratLight: 'AkkuratLight'

@font-face
	font-family: 'AkkuratLight' 
	src: url('../fonts/AkkuratLight.otf')


a
	-webkit-transition: all 0.3s ease-in-out
	-moz-transition: all 0.3s ease-in-out
	-ms-transition: all 0.3s ease-in-out
	-o-transition: all 0.3s ease-in-out
	transition: all 0.3s ease-in-out